/* Chinese version customizations */

/* IMPORT FONTS ------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Jura:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:300,400,600,700');


/* GENERAL STYLES ----------------------------------------------------------- */

body {
	font-family: 'Jura', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	font-weight: 500;
	background: url(../images/bg-pattern.png);
	/*
	background-color: #c4bebe;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
	*/
	text-rendering: optimizeLegibility;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	transition: 0.5s;
}