/* Chinese version customizations */

/* IMPORT FONTS ------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|ZCOOL+QingKe+HuangYou&display=swap');


/* GENERAL STYLES ----------------------------------------------------------- */
:lang(en) {
	font-family: 'Jura', sans-serif;
}

/* all auto-updated values are in english format by default */
*[data-entity-id] {
	font-family: 'Jura', sans-serif;
}

/* dvpn page launch title */
.thin-zh-tc {
	font-size: 50px;
	letter-spacing: 10px;
}
/* header */
div#brand-text {
	font-family: 'Jura', sans-serif;
}

div#brand-text .title-local {
	font-family: 'ZCOOL QingKe HuangYou';
	font-weight: normal;
    font-size: 17px;
}

/* index */
.movething .main-title,
.movething .main-subtitle  {
	font-family: 'ZCOOL QingKe HuangYou';
}

#large-header .header-tile .tile-label-value {
	font-family: 'Jura', sans-serif;
}

.cubespinner div {
  font-size: 28px;
}

/* Images */
#large-header #under-canvas {
	background-image: url('../images/world-map-alt.jpg');
}ura

/* footer */
.footer *[data-entity-id],
.footer-overlay *[data-entity-id],
*[class^="chain-"] {
	font-family: 'Jura', sans-serif;
}

/*
.footer-tooltip li:first-child *[data-entity-id],
.footer-tooltip li:first-child *[class^="chain-"]
{
    font-size: 15px;
}

.footer-tooltip {
	font-size: 
}

*/