RewriteEngine on 
# Different languages
RewriteRule ^([^/\.]+).en.html$ index.en.html [L]
RewriteRule ^([^/\.]+).zh.html$ index.zh.html [L]
# Default languages
RewriteRule ^([^/\.]+).html$ index.en.html [L]

# Old website redirects
Redirect 301 /how-to-get-vls /exchanges.html
