<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="coin-specs-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3">D<span class="grey">ecentralized</span> VPN <span class="grey"></span></h1>
            </div>
    <section id="introduction">
                <div class="container">
                    <div class="row" >
                        <div class="col-lg-4 text-center wide-screen">
                            <img class="img track-in-view left-slide-in" id="img-introduction" src="images/veles-official.png" alt="Veles Introduction">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>The Goal</h2>
                            <p class="my-6">
                                Veles Core is an open-source software project that aims to help the people of Internet to retain their freedom of access to an information and to improve privacy of the communications over the Internet by building decentralzied service based on VPN and multi-hop technology. 
                                <br />
                                Taking advantage of the recent developents in the blockchain technology, related consensus mechanisms and concepts we're able to solve several issues from which current open anoymisation services suffer, which they are either commercial or based solely on volunteer networks. Making it a great deal more difficult and expensive for a bad actors or oppresive governments to disrupt the service or to invade one's privacy.<br />
                                It also shows us how quickly a network can grow and progress and how well are people able to cooperate if every resources and effort are awarded fairly. Anyone can participate in the network in several roles, from miners, masternode operators, or people getting paid for their unused traffic.<br/>

                            Blockchain and related technology has shown use quite effective solutions to fundamental problems of distributed systems, such as fault tolerance. We have further leveraged these ideas by                        implementing new innovative concepts that 


                            <br />We're also set on continuously back-porting latest improvements and updates from Bitcoin
                            and other related code-bases, so common issues get solved faster and more effectively. That's
                            why we can now offer Dash features such as masternodes or governance protocol alongside with
                            new Bitcoin features like SegWit or blockchain pruning.<br />


                                                        In order to provide the best ecosystem for the decentralized dVPN and multi-hop services, 
                            we have built custom blockchain and masternode network aimed at robustness, security
                            and reliability. <br />
                            We have further leveraged this technology by implementing innovative concepts aimed 
                            to tackle the issues that have emerged within the industry, such as several approaches against 51% attacks,
                            multiple independent PoW chains, instamine protection, adaptive block spacing, dynamic capped block rewards,
                            and many others. 
                            <br />We're set to be continuously back-porting latest improvements and updates from Bitcoin
                            and other related code-bases. That's why we can now offer Dash features such as masternodes 
                            or governance protocol alongside with new Bitcoin features like SegWit or blockchain pruning.<br />
                            Currently we are working on network improvements such as Proof-of-stake as an additional consensus 
                            algorithm or the implementation of Deterministic Masternode System for the more reliable, 
                            on-chain masternode synchronisation.
                            Continuously porting the fresh improvements and security updates from other code-bases, 
                            w






                                                            Because Veles cryptocurrency aka VLS as a store of value is an important part of the Veles Core ecosystem, 
                                setting up VLS monetary policy had been very important area of focus in the early stage of the project,
                                until VCIP01 has been activated and later Maximum Supply has been also formally estabilished to 2.5m VLS.<br />
                                Block rewards on Veles Network are dynamic, matching hashrate of the algo. Unlike in traditional PoW systems, on Veles Network is not possible to mine low-cost coins, and get full block reward when the hashrate would be low.<br />
                                However, the dynamic block reward is limited by Maximum block reward,
                                to prevent unexpected inflation and not to exceed planned supply release, reached only with sufficient
                                hashrate. Minimum block would attract miners in case the hashrate of certain algo would get too low.<br />
                                We have decided to use our concept non-linear, decreasing halving frewuency to prevent unneccessary long inflation period during the full PoW launch, but still keeping slow but steady release of VLS tokens for miners for over a century.<br />
                                This creates supply curve and inflation rate more friendly to an investor, where <br />
                                &#8226; over 50% of the max. supply will be in circulation within 2 years,<br />
                                &#8226; over 70% of the max. supply within 5 years<br />
                                &#8226; the rest will be released slowly in more than century time<br />
                            </p>
                            <img class="img-narrow-screen" id="img-introduction" src="images/veles-official.png" alt="Veles Introduction">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="footer-wrapper">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="js/apploader.js"></script>
    </div>
</body>
</html>
