<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="exchanges-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">The</span> Exchanges</h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a target="_blank" rel="noopener noreferrer" href="https://qtrade.io/market/VLS_BTC">
                                <div class="button-effect new" id="btn-exchange">
                                    <span class="label-big">Qtrade.io
                                    </span>
                                    <span class="icon icon-image">
                                        <img class="image-exchange" src="images/exchanges/qtrade.png"></img>
                                        <span></span>
                                    </span>
                                    <span class="icon2 icon2-modal"></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a target="_blank" rel="noopener noreferrer" href="https://crex24.com/exchange/VLS-BTC">
                                <div class="button-effect new" id="btn-exchange">
                                    <span class="label-big">Crex24.com
                                    </span>
                                    <span class="icon icon-image">
                                        <img class="image-exchange" src="images/exchanges/crex.jpg"></img>
                                        <span></span>
                                    </span>
                                    <span class="icon2 icon2-modal"></span>
                                  </div>
                              </a>
                        </div>
                        <div class="col-md-12">
                            <a target="_blank" rel="noopener noreferrer" href="https://bitmesh.com/exchange?market=btc_vls#/">
                                <div class="button-effect new" id="btn-exchange">
                                    <span class="label-big">Bitmesh.com
                                    </span>
                                    <span class="icon icon-image">
                                        <img class="image-exchange" src="images/exchanges/bitmesh.png"></img>
                                        <span></span>
                                    </span>
                                    <span class="icon2 icon2-modal"></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.citex.co.kr/#/trade/2/87">
                                <div class="button-effect new" id="btn-exchange">
                                    <span class="label-big">Citex.co.kr
                                    </span>
                                    <span class="icon icon-image">
                                        <img class="image-exchange" src="images/exchanges/citex.jpg"></img>
                                        <span></span>
                                    </span>
                                    <span class="icon2 icon2-modal"></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a target="_blank" rel="noopener noreferrer" href="https://freiexchange.com/market/VLS/BTC">
                                <div class="button-effect new" id="btn-exchange">
                                    <span class="label-big">Freiexchange.com
                                    </span>
                                    <span class="icon icon-image">
                                        <img class="image-exchange" src="images/exchanges/freiexchange.jpg"></img>
                                        <span></span>
                                    </span>
                                    <span class="icon2 icon2-modal"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div><!-- /#content -->
</body>
</html>
