<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="osx-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <<div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">OS X </span>dVPN </span>Guide</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/mac-wallet.png" alt="OS X Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Installing</h2>
                            <p class="my-6">
                                <a href="https://tunnelblick.net/">Tunnelblick</a> is a free, open source OpenVPN client for Mac OS X. You can download the latest disk image from the <a href="https://tunnelblick.net/downloads.html">Tunnelblick Downloads page</a>. Double-click the downloaded <code>.dmg</code> file and follow the prompts to install.
                                <br />
                            </p>
                            <p class="my-6">
                                Towards the end of the installation process, Tunnelblick will ask if you have any configuration files. It can be easier to answer <b>No</b> and let Tunnelblick finish. Download Veles <a href="https://explorer.veles.network/dapi/getOpenVPNConfig"><b>configuration</b></a> file and double-click <code>veles.ovpn</code>. Tunnelblick will install the client profile. Administrative privileges are required.
                                <br/>
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Connecting</h2>
                            <p class="my-6">
                                Launch Tunnelblick by double-clicking Tunnelblick in the <b>Applications folder</b>. Once Tunnelblick has been launched, there will be a Tunnelblick icon in the menu bar at the top right of the screen for controlling connections. Click on the icon, and then the <b>Connect</b> menu item to initiate the VPN connection. Select the <b>veles</b> connection.
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Test Your VPN Connection</h2>
                            <p class="my-6">
                                Once everything is installed, a simple check confirms everything is working properly. Without having a VPN connection enabled, open a browser and go to <a href="https://www.dnsleaktest.com/">DNSLeakTest</a>.</br>
                                The site will return the IP address assigned by your internet service provider and as you appear to the rest of the world. To check your DNS settings through the same website, click on <b>Extended Test</b> and it will tell you which DNS servers you are using.<br>
                                Now connect to your VPN client and refresh the browser. The completely different IP address of your VPN server should now appear. That is now how you appear to the world. Again, <a href="https://www.dnsleaktest.com/">DNSLeakTest’s</a> <b>Extended Test</b> will check your DNS settings and confirm you are now using the DNS resolvers pushed by Veles dVPN.
                            </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>