<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="roadmap-page">
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">The</span> Roadmap</h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="timeline track-in-view right-slide">
                                <li class="event milestone" data-date="Q4 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Network Bootstrap Stage</h1>
                                            <p>Public launch of the project.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul>
                                                <li class="checked">Launch of the (legacy) network</li>
                                                <li class="checked">First code release <a href="https://github.com/velescore/veles-legacy-r1">Veles Core R1</a></li>
                                                <li class="checked">Full code rewrite <a href="https://github.com/velescore/veles-legacy-r2">Veles Core R2</a> released</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Nov 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Production Network Launch</h3>
                                            <p>Official launch of main-net for the current production network.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                                <li class="checked">Full code rewrite <a href="https://github.com/velescore/veles-legacy-r3">Veles Core R3</a> based Bitcoin Core v0.17 and FXTC with the support for multi-algo and masternodes</li>
                                                <li class="checked">Coinswap of 50k VLS for early adopters</li>
                                                <li class="checked">Original pre-mine burned</li>
                                                <li class="checked">Minimal block rewards until VCIP01 completed</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event milestone" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>VCIP01 PoW Mining Stage</h1>
                                            <p><b>Veles Core v0.17 "Aged Amnesia" Release</b></p>
                                            <p>Start of full mining rewards following major PoW consensus upgrade after the end of bootstrap phase.
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Significantly increase block rewards to provide neccessary supply</li>
                                            <li class="checked">Non-linear halving interval to shorten the inflation period</li>
                                            <li class="checked">Equalize dynamic rewards among all the algos</li>
                                            <li class="checked">Adaptive supply control with halving re-scheduling and automatic dynamic rewards boost</li>
                                            <li class="checked">Masternode rewards gradual increase from 5% to 60% in 5 years</li>
                                            <li class="checked">Dev-team rewards gradual decrease from 5% to 0% in 5 years</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Masternode Installer</h3>
                                            <p>Solution to make setting up self-hosted Veles masternode on a Linux boxes easier for a common person.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><a href="https://github.com/AltcoinBaggins/veles-installer">Veles Masternode Installer</a> released to simplify masternode installation on Linux boxes.</li>
                                            <li>Support for several distributions including Ubuntu, Debian, Gentoo, RedHat, Fedora, CentOS etc.</li>
                                            <li>As an alternative solution, Veles fork of the popular installation script <a href="https://github.com/velescore/nodemaster">Nodemaster</a></li> is also available</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Mar 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>GUI Client Update</h3>
                                            <p>Full redesign of graphical QT GUI wallet client for all desktop platforms, new features to support easy styling.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Complete redesign of QT wallet UI for all desktop platforms</li>
                                            <li class="checked">Clear indication whether pre-release or stable version is used</li>
                                            <li class="checked">Support for exporting and loading of custom QSS stylesheets to enable designers easy customization without the need of C++ knowledge</li>
                                            <li class="checked">Started development of separate experimental GUI based on Angular</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>


                                <li class="event" data-date="Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Maximum Supply Reduction</h3>
                                            <p>Officialy announced reduction of maximum supply from 12.5m to 2.5m VLS (non-consensus breaking)</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Reduction of official supply limit of 12.5 milion VLS to 2.5 milion VLS to match the current theoretical maximum supply based on mining consensus estabilished by VCIP01
                                            </li>
                                            </li>future-proofing the current supply curve to stay intact and ensure decreasing inflation of VLS</li>
                                            <li class="checked">Prepared a plan to implement decrease of Veles masternode collateral from 2000 to 500 VLS to match the new supply limit, alongside with the maximum supply formal enforcement, in the next major release (v0.18)</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event" data-date="Feb - Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Core Update v0.17.1</h3>
                                            <p>Next stable release of Veles Core client and server including all recent updates and fixes.</p>
                                            <p>New installation wizards for most of the popular desktop and server platforms including Raspberry PI.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Fixes by Veles Core team covering issues emerged from testing up-to date</li>
                                            <li class="checked">Ported all updates from Bitcoin Core v0.17.1</li>
                                            <li class="checked">Support for Travis Continuous Integration and automated testing</li>
                                            <li class="checked">Installation wizard for Windows 32/64 bit</li>
                                            <li class="checked">Installation .deb packages and apt-get repository for Ubuntu/Debian Linux</li>
                                            <li class="checked">Binaries for Raspberry Pi vanilla Linux and Raspbian .deb packages</li>
                                            <li class="checked">Installation file .dmg for macOS</li>
                                            <li class="checked">Revised and updated project documentation, added documentation about masterndes</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Core Web and Infrastructure</h3>
                                            <p>New website and explorer integrated with Veles blockhain providing real-time data about the network.</p>
                                            <p>New high-load REST API and high-speed websocket server-push.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">New project website with updated information and new design</li>
                                            <li class="checked">Redesigned block explorer and integrated with website</li>
                                            <li class="checked">Providing real-time data and statistics of blockchain using websockets and server-push</li>
                                            <li class="checked">High-load backend service providing load-balanced public APIs</li>
                                            <li>International translations of whitepaper and website</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>VCIP02 PoS Implementation Stage</h1>
                                            <p><b>Veles Core v0.18 "Blockchain Baracuda" Release</b></p>
                                            <p>Implementation and launch of Proof-Of-Stake
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Implementation and launch of Proof-Of-Stake consensus mechanism to complement PoW for a stronger and safer network</li>
                                            <li>PrivateSend / InstantSend activation</li>
                                            <li>Rebase code to the latest Bitcoin v0.18, implementing several new features as wallet backup utility, and base for future support of hw wallets</li>
                                            <li>Transformation period for a new masternode collateral decreased from 2000 to 500 VLS to match decreased maximum supply</li>
                                            <li>Further improve internalization support on GUI client</li>
                                            <li>Optional pre-alpha dVPN dapp for masternode operators to enable future live testing</li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q3 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>VCIP03 dVPN Integration Stage</h1>
                                            <p>Updates to the blockchain and the network to provide the best environment for the needs of dVPN service as DIP0002 Special Transactions. Pre-alpha dVPN service for testing and development.
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Port DIP0002 Special Transactions to enable storing of VPN subscriptions on-blockchain in a correct manner</li>
                                            <li>Integrate DIP0003 Deterministic Masternodes implementation, reliable on-blockchain masternode sync</li>
                                            <li>Development of decentralized Certification Authority for RSA certificates used for dVPN connection</li>
                                            <li>Start of DEX development for use within the ecosystem to enable trade of tokens representing hours of VPN connection time to provide better store-of-value, price discovery and free transfer of pre-paid VPN time.</li>
                                            <li>Pre-alpha dVPN dapp on voluntary masternodes for testing and client development</li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q4 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>dVPN Implementation Stage</h1>
                                            <p>
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Tier II masternode implementation to function as exit nodes to provide multi-hop routing</li>
                                            <li>IPv6 to IPv4 routing layer to support IPv6 exit nodes</li>
                                            <li>Management of subscriptions on blockchain</li>
                                            <li>Desktop and mobile dVPN client wallet integration with VPN</li>
                                            <li>Public alpha testing version of dVPN using voluntary nodes</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="Q1 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>dVPN Launch Stage</h1>
                                            <p>Transition period for all the masternodes to enable dVPN service.</p>
                                            <p>Network Official launch of dVPN for a public use during Q1.</p>
                                            <p>Public alpha testing version of DEX within Veles Ecosystem.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>dVPN live for public use</li>
                                            <li>Transition period for dVPN dapp to be mandatory for masternode operators</li>
                                            <li>IPv6 to IPv4 routing layer to support IPv6 exit nodes</li>
                                            <li>dVPN live for public use</li>
                                            <li>Public alpha testing version of DEX for a dVPN connection time tokens</li>
                                            <li>Explore the idea of hashrate rental tokenisation and exchange on DEX, which could also provide decentralized data on market price of hashrate to be used by more advanced dynamic PoW rewards adjustments.</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event proposal" data-date="Q2 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>dVPN Scaling Stage</h1>
                                            <p>Improve dVPN for better scaling using the data from the Q1, development of Proof-Of-Geolocation.
                                            </p>
                                            <p>Veles DEX public release.</p>
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Improve and refactor dVPN implementation for betters scaling</li>
                                            <li>Research on new viable scaling solutions using the data from the Q1.</li>
                                            <li>Start development and testing of the concept of Proof-Of-Geolocation to enable more decentralized and better distribution of VLS exitnodes around the world.</li>
                                            <li>dVPN live for public use</li>
                                            <li>Public release of Veles DEX and web-interface</li>
                                        </div>
                                    </div>
                                </li>


                                <li class="event milestone proposal" data-date="Q3 - Q4 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Governance Bootstrap Phase</h1>
                                            <p>Development of the decentralized infrastructure, proccesses and smart-contracts to enable future governance of the project by the community.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Develop means and infrastructure for a fair decentralized way of governance over all of the decision processes involved in the Veles ecosystem maintenance and development</li>
                                        </div>
                                    </div>
                                </li>


                                <li class="event proposal" data-date="2020 - 2023">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Transformation Phase</h1>
                                            <p>Implement and battle-test governance processes</p>
                                            </p>
                                            <p>dVPN network maincenance and improvement, new features, integrations and ideas
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Time window to implement and battle-test all the governance processes before functioning as fully decentralized organisation with the support of Veles Core team.</li>
                                            <li>Maintenance of the dVPN network and implementation of the new features, ideas, integrations or use-cases suggested by the community as users, node operators and developers.</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="2024 - &infin;">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Full Community Takeover</h1>
                                            <p>At this time all of the governance over the network and the development of the code should be solely in a hands of the decentralized organisation driven by the community of network participants, supporters and developers.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Current members of Veles Core team will continue helping the community to work on Veles ecosystem development as it's our passion to continue changing the world as long as we will be able to.</li>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                       </div>
            </section>

        </div><!-- /#content -->
    </div>
</body>
</html>
