<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="team-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">The</span> Team</h1>
            </div>
            <!-- Intro Content -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 text-center">
                            <img class="img track-in-view left-slide-in img-team-about" src="images/team/community-official.png" alt="">
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <h2>About</h2>
                            <p>
                                Veles is technology, however with that, it’s also much more that just bits of code and elaborate algorithms. It’s a community. It’s an organically growing network of individuals assembling a set of core principals, beliefs, visions, and ideas, collaborating together to develop Veles. We are, at the end of the day, a collective of human beings coming together, inputting our various energies, resources, talents, and visions. Some of us are expert coders, ethical hackers, others are good in managing community, web-development and more . As a reminder, often in tech and crypto realms, individuals are known by their “nicknames” more than their own names.
                            </p>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><h2>Our Team</h2></div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/baggins.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Altcoinbaggins</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Founder, Lead Developer</h6>
                                    <p class="card-text">"Coder with 20 years of experience, hacker and blockchain geek. Skilled in networking, C/C++, python, SQL ..."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/altcoinbaggins">Altcoinbaggins</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/mdfkbtc.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Mdfkbtc</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Founder, Developer, Support</h6>
                                    <p class="card-text">"Working on Veles as Support/Admin/Community-manager/Project-manager partly dev. Some skills in operating systems (most in linux), c++ and in other common used languages."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/mdfkbtc">Mdfkbtc</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Uhlik</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                                    <p class="card-text">"Working on Veles as coder. Expert programmer with 30 years of experience, superior skills in x86 CPU architecture, operating systems and virtualization (Microsoft Certified Professional for Hyper-V). Master in blockchain technology."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/uhliksk">Uhliksk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Virtuado</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Main-tester,Support, Community Mode</h6>
                                    <p class="card-text">"Working on Veles as maintester, bughunter and community-moderator. I'm a former system-admin and currently working as trader. I ended up in crypto because of interest, later it became hobby and now i joined the Veles project because this is one of the few crypto's which actually have a real purpose and i strongly believe the Veles project will be a success."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/virtuado">Virtuado</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/maty.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Maty</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Graphics designer</h6>
                                    <p class="card-text">"Working on Veles as graphics designer."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://twitter.com/MatyPos">Maty</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Binarydna</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                                    <p class="card-text">"Fullstack developer with 4 years of expirience, fluent in Node.js (and any kind of javascript for that matter), Java, Python."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/macroman321">Binarydna</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/alexDeLarge.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">AlexDeLarge</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Support, Community Mode</h6>
                                    <p class="card-text">""</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://twitter.com/alexDeLarge_85">AlexDeLarge</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Team Member</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Open</h6>
                                    <p class="card-text">"Open position"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">Open</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Team Member</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Open</h6>
                                    <p class="card-text">Open position</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
        </div><!-- /.container -->
    </div><!-- /#content -->
</body>
</html>
