<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="Windows-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">Windows </span>dVPN </span>Guide</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/windows-wallet.png" alt="Windows Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Installing</h2>
                            <p class="my-6">
                                The OpenVPN client application for Windows can be found on <a href="https://openvpn.net/community-downloads/">OpenVPN’s Downloads page</a>. Choose the appropriate installer version for your version of Windows.
                                <br />
                            </p>
                            <div class="dvpn-guide-note">
                                <p><i class="fa fa-info-circle" aria-hidden="true"></i> OpenVPN needs administrative privileges to install.</p>
                            </div>
                            <p class="my-6">
                                After installing OpenVPN, download <a href="https://explorer.veles.network/dapi/getOpenVPNConfig"><b>config</b></a> file and copy the file to:
                                <br/>
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>C:\Program Files\OpenVPN\config</code></li>
                                </ul>
                            </div>
                             <p class="my-6">
                                When you launch OpenVPN, it will automatically see the profile and makes it available.
                                <br/>
                            </p>
                            <p class="my-6">
                                OpenVPN must be run as an administrator each time it’s used, even by administrative accounts. To do this without having to right-click and select <b>Run as administrator</b> every time you use the VPN, you can preset this, but this must be done from an administrative account. This also means that standard users will need to enter the administrator’s password to use OpenVPN. On the other hand, standard users can’t properly connect to the server unless the OpenVPN application on the client has admin rights, so the elevated privileges are necessary.
                                <br/>
                            </p>
                            <p class="my-6">
                                To set the OpenVPN application to always run as an administrator, right-click on its shortcut icon and go to <b>Properties</b>. At the bottom of the <b>Compatibility</b> tab, click the button to <b>Change settings</b> for all users. In the new window, check <b>Run this program as an administrator</b>.
                                <br/>
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Connecting</h2>
                            <p class="my-6">
                                Each time you launch the OpenVPN GUI, Windows will ask if you want to allow the program to make changes to your computer. Click <b>Yes</b>. Launching the OpenVPN client application only puts the applet in the system tray so that the VPN can be connected and disconnected as needed; it does not actually make the VPN connection.
                                <br />
                            </p>
                            <p class="my-6">
                                Once OpenVPN is started, initiate a connection by going into the system tray applet and right-clicking on the OpenVPN applet icon. This opens the context menu. Select <b>veles</b> at the top of the menu (that’s our <code>veles.ovpn</code> profile) and choose <b>Connect</b>.
                                </br>
                            </p>
                            <p class="my-6">
                                A status window will open showing the log output while the connection is established, and a message will show once the client is connected.
                                </br>
                            </p>
                            <p class="my-6">
                                Disconnect from the VPN the same way: Go into the system tray applet, right-click the OpenVPN applet icon, select the client profile and click <b>Disconnect</b>.
                                </br>
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Test Your VPN Connection</h2>
                            <p class="my-6">
                                Once everything is installed, a simple check confirms everything is working properly. Without having a VPN connection enabled, open a browser and go to <a href="https://www.dnsleaktest.com/">DNSLeakTest</a>.</br>
                                The site will return the IP address assigned by your internet service provider and as you appear to the rest of the world. To check your DNS settings through the same website, click on <b>Extended Test</b> and it will tell you which DNS servers you are using.<br>
                                Now connect to your VPN client and refresh the browser. The completely different IP address of your VPN server should now appear. That is now how you appear to the world. Again, <a href="https://www.dnsleaktest.com/">DNSLeakTest’s</a> <b>Extended Test</b> will check your DNS settings and confirm you are now using the DNS resolvers pushed by Veles dVPN.
                            </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>