@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(-3deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }@keyframes spincube {
    from,to  { -webkit-transform: rotateX(-3deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }
  .cubespinner{
    -webkit-animation-name:spincube;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-duration:12s;
    animation-name:spincube;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    animation-duration:12s;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transform-origin:60px 60px 0;
    -moz-transform-origin:60px 60px 0;
    -ms-transform-origin:60px 60px 0;
    transform-origin:60px 60px 0
  }

.cubespinner div {
  position:absolute;
  width:120px;
  height:120px;
  border:1px solid #F19B7E;
  background:rgba(0,0,0,.8);
  box-shadow:inset 0 0 40px rgba(241,155,126,.6);
  text-align:center; 
  font-size:14px; 
  font-weight: bold; 
  padding: 10px; 
  color: #F19B7E;
  overflow: hidden;
}

.cubespinner .face1{
  -webkit-transform:translateZ(60px);
  -moz-transform:translateZ(60px);
  -ms-transform:translateZ(60px);
  transform:translateZ(60px);
}
.cubespinner .face2{-webkit-transform:rotateY(90deg) translateZ(60px);-moz-transform:rotateY(90deg) translateZ(60px);-ms-transform:rotateY(90deg) translateZ(60px);transform:rotateY(90deg) translateZ(60px)}.cubespinner .face3{-webkit-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);-moz-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);-ms-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);transform:rotateY(90deg) rotateX(90deg) translateZ(60px)}.cubespinner .face4{-webkit-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);-moz-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);-ms-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);transform:rotateY(180deg) rotateZ(90deg) translateZ(60px)}.cubespinner .face5{-webkit-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);-moz-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);-ms-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px)}.cubespinner .face6{-webkit-transform:rotateX(-90deg) translateZ(60px);-moz-transform:rotateX(-90deg) translateZ(60px);-ms-transform:rotateX(-90deg) translateZ(60px);transform:rotateX(-90deg) translateZ(60px)}

.stage {
	width: 120px;
  margin-left: -60px;
  height: 120px;
  position: absolute;
  top: 85px;
  left: 50%;
  animation: cube_zoom 3s;
  perspective: 200px;
}

@keyframes cube_zoom {
  from {
    opacity: 0;
    transform: scale(20);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
  .stage img {
  	width: 100px;
  	height: 100px;
  }

.stage .blink_text {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.stage.stage-enlarge {
  zoom: 2;
  transition: zoom 2s ease-in-out;
}


