<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="ios-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">Guía </span>dVPN </span>para iOS</span></h1>
            </div>
            <section id="guía-openvpn">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/mac-wallet.png" alt="iOS Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Instalando OpenVPN</h2>
                            <p class="my-6">
                                Desde la App Store, busca e instala <b>OpenVPN Connect</b>, el cliente oficial de  iOS OpenVPN para iOS.
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-dvpn-download.png">
                        <br />    
                            <h2>Configurando OpenVPN</h2>
                            <p class="my-6">
                                Descarga el archivo de <a href="https://explorer.veles.network/dapi/getOpenVPNConfig"> <b>configuración</b></a> y abrelo con OpenVPN Connect presionando en  <b>Copiar a OpenVPN</b>.
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-open-config.png">
                            <p class="my-6">
                                Importe el archivo de perfil a OpenVPN Connect presionando <b>Agregar</b>.
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-import-config.png">
                            <p class="my-6">
                                Deberías ver <b>"Perfil importado con éxito"</b> y simplemente <b>Agregar</b> el perfil a OpenVPN Connect.
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-add-profile.png">
                        <br />
                            <h2>Conectando el cliente OpenVPN</h2>
                            <p class="my-6">
                                OpenVPN se encuentra listo para ser usado con el nuevo perfil. Iniciá la conexión deslizando el botón de <b>Conectar</b> a la posición de <b>Encendido (On)</b>.
                                Desconecta deslizando el mismo botón a <b>Apagado (Off)</b>.
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-connect-vpn.png">
                            <div class="dvpn-guide-note">
                                <p><i class="fa fa-info-circle" aria-hidden="true"></i> El switch VPN debajo de <b>Configuraciones (Settings)</b> no puede ser utilizado para conectarse a la VPN. Si lo intentas, recibirás una notificación indicando que sólo puedes conectarte utilizando la app OpenVPN.</p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section id="testear-conexión">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                                <h2>Testeá tu conexión VPN</h2>
                                <p class="my-6">
                                    Una vez que todo se encuentra instalado, un simple chequeo confirma que todo funciona correectamente. Sin tener la conexión VPN activada, abre el navegador y ve a <a href="https://www.dnsleaktest.com/">DNSLeakTest</a>.</br>
                                    El sitio retornará la dirección IP que se te ha sido asignada por tu proveedor de internet y cómo apareces antes el resto del mundo.
                                    Para chequear tu configuración DNS a través del mismo sitio, clickea en <b>Extended Test</b> y te informará que servidores DNS estás usando.<br>
                                    Ahora, conecta tu cliente VPN y refresca el navegador. Debería aparecer la IP completamente nueva de tu servidor VPN. Así es como aparecerás al mundo. Nuevamente, el <b>Extended Test</b> de <a href="https://www.dnsleaktest.com/">DNSLeakTest</a> chequeará tu configuración DNS y confirmará que ahora estás usando los servidores DNS publicados por la dVPN de Veles.
                                </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>