<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="osx-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <<div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">Guía </span>dVPN </span>para OS X</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/mac-wallet.png" alt="OS X Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Instalando</h2>
                            <p class="my-6">
                                <a href="https://tunnelblick.net/">Tunnelblick</a> es un cliente OpenVPN gratuito de software libre para Mac OS X. Puedes descargar la última imagen de disco desde la <a href="https://tunnelblick.net/downloads.html">página de descargas de Tunnelblick</a>. Haz doble click en el archivo <code>.dmg</code> descargado y sigue las instrucciones en pantalla para instalar.
                                <br />
                            </p>
                            <p class="my-6">
                                Llegando al final de la instalación, Tunnelblick preguntará si tiene archivos de configuración. Es más sencillo responder que <b>No</b> y dejar que Tunnelblick finalice. 
                                Luego descarga los <a href="https://explorer.veles.network/dapi/getOpenVPNConfig"><b>archivos de configuración</b></a> de Veles y haz doble click en <code>veles.ovpn</code>. Tunnelblick instalará el perfil del cliente. Privilegios de administrador son requeridos.
                                <br/>
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Conectando</h2>
                            <p class="my-6">
                                Lanza Tunnelblick haciendo doble click enTunnelblick en la <b>carpeta de Aplicaciones</b>. una vez que Tunnelblick inició, habrá un ícono de Tunnelblick en la barra de menú en la parte superior derecha de la pantalla para controlar las conexiones.
                                Click en el ícono, y a continuación en el ítem de menú <b>Conectar (Connect)</b> para iniciar la conexión VPN. Selecciona la conexión <b>veles</b>.
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                                <h2>Testeá tu conexión VPN</h2>
                                <p class="my-6">
                                    Una vez que todo se encuentra instalado, un simple chequeo confirma que todo funciona correectamente. Sin tener la conexión VPN activada, abre el navegador y ve a <a href="https://www.dnsleaktest.com/">DNSLeakTest</a>.</br>
                                    El sitio retornará la dirección IP que se te ha sido asignada por tu proveedor de internet y cómo apareces antes el resto del mundo.
                                    Para chequear tu configuración DNS a través del mismo sitio, clickea en <b>Extended Test</b> y te informará que servidores DNS estás usando.<br>
                                    Ahora, conecta tu cliente VPN y refresca el navegador. Debería aparecer la IP completamente nueva de tu servidor VPN. Así es como aparecerás al mundo. Nuevamente, el <b>Extended Test</b> de <a href="https://www.dnsleaktest.com/">DNSLeakTest</a> chequeará tu configuración DNS y confirmará que ahora estás usando los servidores DNS publicados por la dVPN de Veles.
                                </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>