<!DOCTYPE html>
<html lang="es">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="team-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
				        <h1 class="mt-4 mb-3"><span class="grey">El</span> Equipo</h1>
            </div>
            <!-- Intro Content -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 text-center">
                            <img class="img track-in-view left-slide-in img-team-about" src="images/team/community-official.png" alt="">
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
							              <h2>Acerca de</h2>
							              <p>
                                Veles es tecnología, y sin embargo también es mucho más que sólo código y complejos algoritmos. Es una comunidad. Es una red  de individuos que crece de manera orgánica ensamblando un conjunto de principios, creencias, visiones, e ideas, colaborando de manera conjunta para desarrollar Veles. Somos, a fin de cuentas, un colectivo de seres humanos que se juntan, ponen a disposición su energía, recursos, talentes, y visiones. Algunos de nosotros somos codificadores expertos, hackers éticos, otros son buenos en la administración de comunidades, desarrollo web y más. Queremos recordarles que, en las comunidades de tecnología y crypto, las personas son reconocidas de manera más frecuente por sus "nick" que por sus propios nombres.
                            </p>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
						            <div class="col-sm-12"><h2>Nuestro equipo</h2></div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/baggins.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Altcoinbaggins</h4>
									                  <h6 class="card-subtitle mb-2 text-muted">Fundador, Desarrollador principal</h6>
									                  <p class="card-text">"Desarrollador con 20 años de experiencia, hacker y geek de blockchain. Habilidad en redes, c/C++, python, SQL..."</p>                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/altcoinbaggins">Altcoinbaggins</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/mdfkbtc.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Mdfkbtc</h4>
									                  <h6 class="card-subtitle mb-2 text-muted">Fundador, Desarrollador, Soporte</h6>
									                  <p class="card-text">"Trabajando en Veles como Soporte/Admin/Administrador de Comunidad/Administrador de proyecto y desarrollador en tiempo parcial. Habilidades en Sistemas Operativos (principalmente Linux), C++ y otros lenguajes usados comúnmente."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/mdfkbtc">Mdfkbtc</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Uhlik</h4>
									                  <h6 class="card-subtitle mb-2 text-muted">Desarrollador</h6>
									                  <p class="card-text">"Trabajando en Veles como desarrollador. Programador experto con 30 años de experiencia, habilidades excluyentes en arquitecturas de CPU x86, sistemas operativos y virtualización (Microsoft Certified Professional para Hyper-V). Maestría en tecnología blockchain."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/uhliksk">Uhliksk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Virtuado</h4>
									                  <h6 class="card-subtitle mb-2 text-muted">Tester principal, Soporte, moderador de comunidad</h6>
									                  <p class="card-text">"Trabajando en Veles como el tester principal, busqueda de errores y moderador de la comunidad. He sido administrador de sistemas y actualmente me desempeño como trader. Eventualmente terminé en crypto por curiosidad, luego se convirtió en pasatiempo, y actualmente me uní al proyecto Veles ya que es una de las pocas crypto que tienen un propósito real y realmente creo en el éxito del proyecto."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/virtuado">Virtuado</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/maty.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Maty</h4>
									                  <h6 class="card-subtitle mb-2 text-muted">Diseñador gráfico</h6>
									                  <p class="card-text">"Trabajando en Veles en el diseño gráfico."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">Maty</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">xCrypto</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Community manager</h6>
                                    <p class="card-text">"Me complace ayudar al proyecto Veles de cualquier manera que pueda. Realmente creo que la visión es uno de los usos más innovadores de la tecnología blockchain. Trabajando en Veles como Community manager, moderador de redes sociales y apoyo parcial."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/xCryptoCash">xCrypto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/alexDeLarge.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">AlexDeLarge</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Soporte, moderador de comunidad</h6>
                                    <p class="card-text">"Trabajando en Veles principalmente en soporte/moderación de comunidad. Habilidades en desarrollo web (JavaScript-PHP).  Amplios conocimientos en aspectos teóricos de Inteligencia Artificial (Doctor en Ciencias de la Computación) y desarrollo de apps basadas en lógica (ProLog, Argumentación, Datalog). Comencé en crypto como pasatiempo, y terminé realmente involucrado en el mismo... - De repente, videé lo que tenía que hacer, y lo que había querido hacer... Alex"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/roman-1905">AlexDeLarge</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
									                  <h4 class="card-title">Miembro</h4>
									                  <h6 class="card-subtitle mb-2 text-muted">Abierta</h6>
									                  <p class="card-text">Posición abierta</p>
                                </div>
                                <div class="card-footer">
									                  <a href="#">Abierta</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Miembro</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Abierta</h6>
                                    <p class="card-text">Posición abierta</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">Abierta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
        </div><!-- /.container -->
    </div><!-- /#content -->
</body>
</html>
