<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Team</h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="bread-button bread">
                        <span class="label">Home</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                    <div class="bread-button bread active" id="bread-button">
                        <span class="label">Team</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                    <div class="breadcrumb"></div>
                </div>
            </div>

            <br>
            <!-- Intro Content -->
            <div class="row row-dark row-no-limit">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 text-center">
                    <img class="img" id="img-about" src="images/community-official.png" alt="">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6">
                    <h2>About</h2>
                    <p>
                        VELES is yes, a technology, however with that, it’s also much more that just bits of code and elaborate algorithms. It’s a community. It’s an organically growing network of individuals assembling a set of core principals, beliefs, visions, and ideas, collaborating together to develop Veles. We are, at the end of the day, a collective of human beings coming together, inputting our various energies, resources, talents, and visions. Some of us are expert coders, ethical hackers. Others are good in managing community, web-development and more . As a reminder, often in tech and crypto realms, individuals are known by their “handles” (think nicknames) more than their own names.Veles is also opensource technology so you can see also you can participate on process of development.
                    </p>
                </div>
                <!-- /.row -->
            </div>
            <!-- Team Members -->
            <div class="row row-light">
                <div class="col-sm-12"><h2>Our Team</h2></div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 text-center" id="card-team">
                        <img class="card-img-top" id="img-team" src="images/man.ico" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Altcoinbaggins</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Founder, Developer </h6>
                            <p class="card-text">Working on Veles main coder.Very good in c++/c, python, networking and linux skills on level expert. Main founder , full time working on Veles-network.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">baggins</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 text-center" id="card-team-1">
                        <img class="card-img-top" id="img-team" src="images/man.ico" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Uhlik</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Founder, Developer</h6>
                            <p class="card-text">"Working on Veles as coder. Expert programmer with 30 years of experience, superior skills in x86 CPU architecture, operating systems and virtualization (Microsoft Certified Professional for Hyper-V). Master in blockchain technology."</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">Uhliksk</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 text-center" id="card-team-2">
                        <img class="card-img-top" id="img-team" src="images/man.ico" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Mdfkbtc</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Founder, Developer, Support</h6>
                            <p class="card-text">Is doing support on discord channel with all stuff , also founder and full time working on Veles-network as dev/support.Small c++ , networking and photoshop skills</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">mdfkbtc</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row row-dark">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 text-center" id="card-team-3">
                        <img class="card-img-top" id="img-team" src="images/man.ico" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Virtuado</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Support, Community Mode</h6>
                            <p class="card-text">Admin/support on discord , telegram channel , Main comunity mood. </p>
                        </div>
                        <div class="card-footer">
                            <a href="#">virtuado</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 text-center" id="card-team-4">
                        <img class="card-img-top" id="img-team" src="images/man.ico" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Maty</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Graphic</h6>
                            <p class="card-text">Good in photoshop , working on Veles graphics. Good in creations of icons logos wignets.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">maty</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 text-center" id="card-team-5">
                        <img class="card-img-top" id="img-team" src="images/man.ico" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Team Member</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Open</h6>
                            <p class="card-text">open position</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">open</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#content -->
</body>
</html>
