<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="container download-page">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Download</h1>
             <div class="row">
                 <div class="col-sm-12">
                     <div class="bread-button bread">
                         <span class="label">Home</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                     </div>
                     <div class="bread-button bread active" id="bread-button">
                         <span class="label">Download</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                    </div>
                    <ol class="breadcrumb" id="breadcrumb-1"></ol>
            </div>
        </div>
            <br>
            <!-- Linux Wallet -->
            <div class="row row-light row-download">
                <div class="col-md-6 col-image text-center">
                    <img class="img rounded inner" id="img-download" src="images/linux.png" alt="Linux Wallet">
                </div>
                <div class="col-md-6 col-text">
                    <br>
                    <h3>Linux Wallet</h3>
                    <li>v0.17.0.21 "Aged Amnesia"</li>
                    <li>Important stability and performance update</li>
                    <p></p>
                    <div class="button-effect new" id="btn-index">
                        <span class="label"><b>Download<b></span>
                        <span class="sublabel long">generic-linux-amd64</span>
                        <span class="sublabel short">generic-linux</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Select your distro &raquo;</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Select older version &raquo;</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Windows wallet -->
            <div class="row row-dark">
                <div class="col-md-5 padding-dark">
                    <br>
                    <h3>Windows Wallet</h3>
                    <li>v0.17.0.21 "Aged Amnesia"</li>
                    <li>Important stability and performance update</li>
                    <p></p>
                    <div class="button-effect new" id="btn-index">
                        <span class="label"><b>Download<b></span>
                        <span class="sublabel">win32</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Select your distro &raquo;</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Select older version &raquo;</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                </div>
                <div class="col-md-7 text-center">
                    <a href="https://github.com/velescore/veles/releases/download/v0.17.0.22/velesWin.zip">
                        <img class="img rounded inner" id="img-download" src="images/microsoft.png">
                    </a>
                </div>
            </div>
            <!-- /.row -->
            <!-- Mac Wallet -->
            <div class="row row-light">
                <div class="col-md-7 text-center">
                    <a href="#">
                        <img class="img rounded inner" id="img-download" src="images/apple.png" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <br>
                    <h3>MAC Wallet</h3>
                    <li>v0.17.0.21 "Aged Amnesia"</li>
                    <li>Important stability and performance update</li>
                    <p></p>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Download</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Raspberry Pi Wallet -->
            <div class="row row-dark">
                <div class="col-md-5 padding-dark">
                    <br>
                    <h3>RASPI Wallet</h3>
                    <li>v0.17.0.21 "Aged Amnesia"</li>
                    <li>Important stability and performance update</li>
                    <p></p>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Download</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                </div>
                <div class="col-md-7 text-center">
                    <a href="#">
                        <img class="img rounded inner" id="img-download" src="images/raspberry-pi.png" alt="">
                    </a>
                </div>
            </div>
            <!-- /.row -->
            <!-- Source code -->
            <div class="row row-light">
                <div class="col-md-7 text-center">
                    <a href="#">
                        <img class="img rounded inner" id="img-download" src="images/code.png" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <br>
                    <h3>Source-code</h3>
                    <li>v0.17.0.21 "Aged Amnesia"</li>
                    <li>Important stability and performance update</li>
                    <p></p>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Download</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Whitepaper -->
            <div class="row row-dark">
                <div class="col-md-5 padding-dark">
                    <br>
                    <h3>Whitepaper</h3>
                    <p></p>
                    <div class="button-effect new" id="btn-index">
                        <span class="label">Download</span>
                        <span class="icon">
                        <span></span>
                        </span>
                        <span class="icon2"></span>
                    </div>
                </div>
                <div class="col-md-7 text-center">
                    <a href="#">
                        <img class="img rounded inner" id="img-download" src="images/wp.png" alt="">
                    </a>
                </div>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>
