<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="download-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3">Download <span class="grey">Veles Core</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-image text-center">
                            <img class="img-download track-in-view left-slide-in" src="https://i.imgur.com/ENAerKo.png" alt="Linux Wallet">
                        </div>
                        <div class="col-md-6 col-text">
                            <h3>Linux Wallet<span class="grey">, Daemon</span></h3>
                            <ul>
                              <li>v0.17.1.1 "Aged Amnesia"</li>
                              <li>In this update: Smoother masternode activation. <br />
                              Fixes #36, #37</li>
                            </ul>
                            <a class="download-btn" href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-generic-linux-amd64.tar.gz">
                              <div class="button-effect new">
                                  <span class="label"><b>Download</b></span>
                                  <span class="sublabel long">generic linux 64-bit</span>
                                  <span class="sublabel short">generic linux</span>
                                  <span class="icon">
                                  <span></span>
                                  </span>
                                  <span class="icon2"></span>
                              </div>
                            </a>
                            <div class="build-details-info button-effect">
                                <span class="label">Select distro or build</span>
                                <ul>
                                    <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-debian-ubuntu-amd64.tar.gz">veles-0.17.1.1-debian-ubuntu-amd64.tar.gz</a></li>
                                    <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-generic-linux-amd64.tar.gz">veles-0.17.1.1-generic-linux-amd64.tar.gz</a></li>
                                    <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-generic-linux-armhf.tar.gz">veles-0.17.1.1-generic-linux-armhf.tar.gz</a></li>
                                </ul>
                            </div>
                            <!--
                            <div class="build-details-info button-effect">
                                <span class="label">Checksums</span>
                                <ul>
                                    <li>
                                        <a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/MD5SUMS">MD5SUMS</a>
                                        <a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/MD5SUMS">MD5SUMS.sign</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/SHA256SUMS">SHA256SUMS</a>
                                        <a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/SHA256SUMS">SHA256SUMS.sign</a>
                                    </li>
                                </ul>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="https://i.imgur.com/PeOP4Pz.png">
                        </div>
                        <div class="col-md-6 col-text">
                            <h3>Windows Wallet</h3>
                            <ul>
                              <li>v0.17.1.1 "Aged Amnesia"</li>
                              <li>In this update: Smoother masternode activation. Fixes #36, #37</li>
                            </ul>
                            <a class="download-btn" href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-windows-win64.exe">
                              <div class="button-effect new">
                                  <span class="label"><b>Download</b></span>
                                  <span class="sublabel long">Windows 64-bit Installer</span>
                                  <span class="sublabel short">Windows 64-bit</span>
                                  <span class="icon">
                                  <span></span>
                                  </span>
                                  <span class="icon2"></span>
                              </div>
                            </a>
                            <div class="build-details-info button-effect">
                                <span class="label">Select architecture</span>
                                <ul>
                                    <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-windows-win32.exe">veles-0.17.1.1-windows-win32.exe</a></li>
                                   <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-windows-win64.exe">veles-0.17.1.1-windows-win64.exe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="https://i.imgur.com/9bdzF3y.png" alt="">
                        </div>
                        <div class="col-md-6 col-text">
                            <h3>macOS Wallet</h3>
                            <ul>
                              <li>v0.17.1.1 "Aged Amnesia"</li>
                              <li>In this update: Smoother masternode activation. Fixes #36, #37</li>
                            </ul>
                            <a class="download-btn" href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-windows-win64.exe">
                              <div class="button-effect new">
                                  <span class="label"><b>Download</b></span>
                                  <span class="sublabel long">macOS 64-bit Installer</span>
                                  <span class="sublabel short">macOS 64-bit</span>
                                  <span class="icon">
                                  <span></span>
                                  </span>
                                  <span class="icon2"></span>
                              </div>
                            </a>
                            <div class="build-details-info button-effect">
                                <span class="label">Select architecture</span>
                                <ul>
                                    <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-macOS-amd64.dmg">veles-0.17.1.1-macOS-amd64.dmg</a></li>
                                   <li><span class="grey">veles-0.17.1.1-macOS-i686.dmg</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="https://i.imgur.com/HPjYLKa.png" alt="">
                        </div>
                        <div class="col-md-6 col-text">
                            <h3>RaspberryPi Wallet</h3>
                            <ul>
                              <li>v0.17.1.1 "Aged Amnesia"</li>
                              <li>In this update: Smoother masternode activation. Fixes #36, #37</li>
                            </ul>

                            <a class="download-btn"  href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-raspbian-armhf.tar.gz">
                              <div class="button-effect new">
                                  <span class="label"><b>Download</b></span>
                                  <span class="sublabel long">Raspbian archive</span>
                                  <span class="sublabel short">Raspbian</span>
                                  <span class="icon">
                                  <span></span>
                                  </span>
                                  <span class="icon2"></span>
                              </div>
                            </a>
                            <div class="build-details-info button-effect">
                                <span class="label">Select distro or build</span>
                                <ul>
                                    <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-raspbian-armhf.tar.gz">veles-0.17.1.1-raspbian-armhf.tar.gz</a></li>
                                    <li><a href="https://github.com/velescore/veles/releases/download/v0.17.1.1/veles-0.17.1.1-generic-linux-armhf.tar.gz">
                                    veles-0.17.1.1-generic-linux-armhf.tar.gz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-image text-center ">
                            <img class="img-download track-in-view left-slide-in" src="https://i.imgur.com/1oWmCMs.png" alt="">
                        </div>
                        <div class="col-md-6 col-text">
                            <h3>Source-code</h3>
                            <ul>
                              <li>v0.17.1.1 "Aged Amnesia"</li>
                              <li>In this update: Smoother masternode activation. Fixes #36, #37</li>
                            </ul>

                            <a class="download-btn" href="https://github.com/velescore/veles/archive/v0.17.1.1.zip">
                              <div class="button-effect new">
                                  <span class="label"><b>Download</b></span>
                                  <span class="sublabel long">C++ source code</span>
                                  <span class="sublabel short">C++ source</span>
                                  <span class="icon">
                                  <span></span>
                                  </span>
                                  <span class="icon2"></span>
                              </div>
                            </a>

                            <!-- git clone https://github.com/velescore/veles.git --branch v0.17.1.1 -->
                            <div class="build-details-info button-effect">
                                <span class="label">Clone from <b>github</b></span>
                                <ul>
                                    <li>
                                        git clone https://github.com/velescore/veles.git --branch v0.17.1.1
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>
