<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="container">
             <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">E<span class="grey">xternal </span>S<span class="grey">ervices </span></h1>
            <div class="row">
                <!-- Sidebar Column-->
                <div class="col-lg-6 mb-4">
                    <div class="mb-4" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header"><h5>Exchanges</h5></div>
                            <div class="card-body" id="card-body-1">
                                <a target="_blank" rel="noopener noreferrer" href="https://qtrade.io/market/VLS_BTC">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Qtrade</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://crex24.com/exchange/VLS-BTC">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Crex24</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://bitmesh.com/exchange?market=btc_vls#/">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">BitMesh</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header"><h5>Masternode-hosting</h5></div>
                            <div class="card-body" id="card-body-1">
                                <a target="_blank" rel="noopener noreferrer" href="https://ihostmn.com/hostmn.php?coin=VLS">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Ihostmn-platform</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="mb-4" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header"><h5>Tracking-sites</h5></div>
                            <div class="card-body" id="card-body-1">
                               <a target="_blank" rel="noopener noreferrer" href="https://chainz.cryptoid.info/vls/">
                                   <div class="button-effect new" id="btn-index">
                                       <span class="label">Chainz.cryptoid explorer</span>
                                       <span class="icon">
                                           <span></span>
                                       </span>
                                       <span class="icon2 icon2-modal"></span>
                                   </div>
                               </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://masternodecap.com/coins/VLS">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Masternodecap</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://poolexplorer.com/coins?term=veles">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Poolexplorer</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://www.coingecko.com/en/coins/veles#panel">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Coingecko</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://coinpaprika.com/coin/vls-veles/">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Coinpaprika</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://worldcoinindex.com/coin/veles">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label">Worldcoinindex</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>
