<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="container">
         <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Resources</h1>
             <div class="row">
                 <div class="col-sm-12">
                     <div class="bread-button bread">
                         <span class="label">Home</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                     </div>
                     <div class="bread-button bread active" id="bread-button">
                         <span class="label">Resources</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                     </div>
                     <ol class="breadcrumb" id="breadcrumb-1"></ol>
                 </div>
             </div>
             <br>
            <!-- Content Row -->
            <div class="row">
                <!-- Sidebar Column-->
                <div class="col-lg-3 mb-4">
                    <div class="list-group list-group-hover text-left nav-vertical">
                        <a href="faq.html" class="list-group-item"><i class="fas fa-question-circle brand" aria-hidden="true"></i><span>FAQ</span></a>
                        <a href="wiki.html" class="list-group-item"><i class="fab fa-wikipedia-w brand" aria-hidden="true"></i><span>Wiki</span></a>
                        <a href="coin-specs.html" class="list-group-item"><i class="fas fa-wrench brand" aria-hidden="true"></i><span>Coin-specs</span></a>
                        <a href="mining-pools.html" class="list-group-item active"><i class="fas fa-server brand" aria-hidden="true"></i><span>Mining-pools</span></a>
                        <a href="services.html" class="list-group-item"><i class="fas fa-handshake brand" aria-hidden="true"></i>External-services</a>
                        <a href="community.html" class="list-group-item"><i class="fas fa-users brand" aria-hidden="true"></i>Community</a>
                    </div>
                    <coingecko-coin-ticker-widget coin-id="veles" currency="btc" locale="en"></coingecko-coin-ticker-widget>
                </div>
                <div class="col-lg-9 mb-4">
                    <div class="mb-4" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-body" id="card-body-1">
                                <h5>Scrypt</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">https://mining-dutch.nl</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://arcpool.com">https://arcpool.com</a></li>
                                <br>
                                <h5>Sha256d</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">https://mining-dutch.nl</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://arcpool.com">https://arcpool.com</a></li>
                                <br>
                                <h5>Lyra2z</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">https://mining-dutch.nl</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://arcpool.com">https://arcpool.com</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://letsmine.it/">https://letsmine.it/</a></li>
                                <br>
                                <h5>Nist5</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">https://mining-dutch.nl</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://arcpool.com">https://arcpool.com</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://letsmine.it/">https://letsmine.it/</a></li>
                                <br>
                                <h5>X11</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">https://mining-dutch.nl</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://arcpool.com">https://arcpool.com</a></li>
                                <br>
                                <h5>X16R</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">https://mining-dutch.nl</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://arcpool.com">https://arcpool.com</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://letsmine.it/">https://letsmine.it/</a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://minermore.com">https://minermore.com</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>
