<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="container">
             <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Resources</h1>
             <div class="row">
                 <div class="col-sm-12">
                     <a href="/index.html">
                         <div class="bread-button bread">
                             <span class="label">Home</span>
                             <span class="icon">
                             <span></span>
                             </span>
                             <span class="icon2"></span>
                         </div>
                     </a>
                     <div class="bread-button bread active" id="bread-button">
                         <span class="label">Resources</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                     </div>
                     <ol class="breadcrumb" id="breadcrumb-1"></ol>
                 </div>
             </div>
            <!-- Content Row -->
            <br>
            <div class="row">
                <!-- Sidebar Column-->
                <div class="col-lg-12 mb-4">
                    <div class="mb-4" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-body" id="card-body-1">
                                <h5>Exchanges</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://crex24.com/exchange/VLS-BTC">Crex24<a></li>
                                <br>
                                <h5>Tracking-sites</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://masternodecap.com/coins/VLS">Masternodecap<a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://poolexplorer.com/coins?term=veles">Poolexplorer<a></li>
                                <br>
                                <h5>Masternode-hosting</h5>
                                <hr>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://mn.gtmcoin.io/">Gentarium-platform<a></li>
                                <li><a target="_blank" rel="noopener noreferrer" href="https://ihostmn.com/ ">Ihostmn-platform<a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>
