<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Roadmap</h1>
             <div class="row">
                 <div class="col-sm-12">
                     <a href="/index.html">
                         <div class="bread-button bread">
                             <span class="label">Home</span>
                             <span class="icon">
                             <span></span>
                             </span>
                             <span class="icon2"></span>
                         </div>
                     </a>
                     <div class="bread-button bread active" id="bread-button">
                         <span class="label">Roadmap</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                     </div>
                     <ol class="breadcrumb" id="breadcrumb-1"></ol>
                 </div>
             </div>
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <div class="cd-timeline-content" id="q1">
                        <h2>Q1 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. January - 31 March
                          </span>
                        </div>
                        <p>VCIP01-first major update </p>
                        <ul class="content-skills">
                            <li>0.17.1 code-base from Bitcoin Core</li>
                            <li>Dynamic non-linear halvings implemented</li>
                            <li>Dynamic reward system improved</li>
                            <li>QT-gui improved</li>
                            <li>Smoother masternode start</li>
                        </ul>
                        <p>Improve packaging for releases<p>
                        <ul class="content-skills">
                            <li>compatibility with Travis-platform</li>
                            <li>implement process of building .deb packages</li>
                            <li>set-up Ubuntu/Debian repository</li>
                            <li>Windows installer</li>
                            <li>macOS installer</li>
                        </ul>
                        <p>Docs: Review and update all the documentation</p>
                        <ul class="content-skills">
                            <li>correction of branding</li>
                            <li>update outdated IRC for Discord and other links</li>
                            <li>port MN relevant docs from Dash Core</li>
                        <ul>
                        <p>New website and explorer development</p>
                        <ul class="content-skills">
                            <li>create GUI in Veles theme</li>
                            <li>intagrate websocket-tech</li>
                            <li>extra blockhain-theme functions impleneted</li>
                            <li>remastering explorer</li>
                            <li>integrate explorer into website</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block" id="timeline-block-1">
                    <div class="cd-timeline-img cd-movie">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content" id="q2">
                        <h2>Q2 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. April - 31 June
                          </span>
                        </div>
                        <p>New website and explorer development</p>
                        <ul class="content-skills">
                            <li></li>
                            <li>New Website</li>
                            <li>Start with marketing</li>
                            <li>Technical paper</li>
                            <li>website and explorer alpha release</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block" id="q3">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2>Q3 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. January - 31 March
                          </span>
                        </div>
                        <p>Working alongside the designer team implementing the designs, also developing custom solutions to address team necessities.</p>
                        <ul class="content-skills">
                            <li>VCIP01 Alpha Release</li>
                            <li>New Website</li>
                            <li>Start with marketing</li>
                            <li>Technical paper</li>
                            <li>Estabilizating core Team</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content" id="q4">
                        <h2>Q4 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. January - 31 March
                          </span>
                        </div>
                        <p>Working alongside the designer team implementing the designs, also developing custom solutions to address team necessities.</p>
                        <ul class="content-skills">
                            <li>VCIP01 Alpha Release</li>
                            <li>New Website</li>
                            <li>Start with marketing</li>
                            <li>Technical paper</li>
                            <li>Estabilizating core Team</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
            </section>
        </div><!-- /#content -->
    </div>
</body>
</html>
