<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="roadmap-page">
            <div class="container">
                <h1 class="mt-4 mb-3">Roadmap</h1>
                 <div class="row">
                     <div class="col-sm-12">
                         <a href="/index.html">
                             <div class="bread-button bread">
                                 <span class="label">Home</span>
                                 <span class="icon">
                                 <span></span>
                                 </span>
                                 <span class="icon2"></span>
                             </div>
                         </a>
                         <div class="bread-button bread active" id="bread-button">
                             <span class="label">Roadmap</span>
                             <span class="icon">
                             <span></span>
                             </span>
                             <span class="icon2"></span>
                        </div>
                        <ol class="breadcrumb" id="breadcrumb-1"></ol>
                    </div>
                </div>
            </div>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="timeline">
                                <li class="event event-milestone" data-date="Q4 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Network Bootstrap Stage</h1>
                                            <p>Public launch of the project.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul>
                                                <li class="checked">Launch of the (legacy) network</li>
                                                <li class="checked">First code release <a href="https://github.com/velescore/veles-legacy-r1">Veles Core R1</a></li>
                                                <li class="checked">Full code rewrite <a href="https://github.com/velescore/veles-legacy-r2">Veles Core R2</a> released</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Nov 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Production Network Launch</h3>
                                            <p>Official launch of main-net for the current production network.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                                <li class="checked">Full code rewrite <a href="https://github.com/velescore/veles-legacy-r3">Veles Core R3</a> based Bitcoin Core v0.17 and FXTC with the support for multi-algo and masternodes</li>
                                                <li class="checked">Coinswap of 50k VLS for early adopters</li>
                                                <li class="checked">Original pre-mine burned</li>
                                                <li class="checked">Minimal block rewards until VCIP01 completed</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event event-milestone" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>VCIP01: PoW Mining Stage</h1>
                                            <p><b>Veles Core "Aged Amnesia" Release</b></p>
                                            <p>Start of full mining rewards following major PoW consensus upgrade after the end of bootstrap phase.
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Significantly increase block rewards to provide neccessary supply</li>
                                            <li class="checked">Non-linear halving interval to shorten the inflation period</li>
                                            <li class="checked">Equalise dynamic rewards among all the algos</li>
                                            <li class="checked">Adaptive supply control with halving re-scheduling and automatic dynamic rewards boost</li>
                                            <li class="checked">Masternode rewards gradual increase from 5% to 60% in 5 years</li>
                                            <li class="checked">Dev-team rewards gradual decrease from 5% to 0% in 5 years</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Mar 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Wallet GUI Update</h3>
                                            <p>Full redesign of QT GUI wallet, new features to support easy styling.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Complete redesign of QT wallet UI</li>
                                            <li>Clear indication whether pre-release or stable version is used</li>
                                            <li>Support for exporting and loading of custom QSS stylesheets to enable designers easy customization without the need of C++ knowledge</li>
                                            <li>Started development of separate experimental GUI based on Angular</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Mar - Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Core Release v0.17.1</h3>
                                            <p>Full redesign of GUI wallet</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Ported all updates from Bitcoin Core v0.17.1</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="65Million B.C.">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Core Release v17.1</h3>
                                            <p>Full redesign of QT GUI wallet</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>0.17.1 code-base from Bitcoin Core</li>
                                            <li>Travis CI integration</li>
                                            <li>Dynamic reward system improved</li>
                                            <li>QT-gui improved</li>
                                            <li>Smoother masternode start</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="2005">
                                    <div class="split-contents">
                                        <div class="split-left">
                                          <h3>Creative Component Launched</h3>
                                          <p>"We can be all things to all people!" 📣</p> 
                                        </div>
                                        <div class="split-right">
                                            <p style="height: 100%;"></p>
                                        </div>
                                    </div>   
                                </li>
                                <li class="event" data-date="2005">
                                    <div class="split-contents">
                                        <div class="split-left">
                                          <h3>Creative Component Launched</h3>
                                          <p>"We can be all things to all people!" 📣</p> 
                                        </div>
                                        <div class="split-right">
                                            <p style="height: 100%;"></p>
                                        </div>
                                    </div>   
                                </li>
                                <li class="event" data-date="65Million B.C.">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Dinosaurs Roamed the Earth</h3>
                                            <p>RAWWWWWWRRR 🐢🦂</p>
                                        </div>
                                        <div class="split-right">
                                            <p style="height: 100%;"></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="2005">
                                    <div class="split-contents">
                                        <div class="split-left">
                                          <h3>Creative Component Launched</h3>
                                          <p>"We can be all things to all people!" 📣</p> 
                                        </div>
                                        <div class="split-right">
                                            <p style="height: 100%;"></p>
                                        </div>
                                    </div>   
                                </li>
                                <li class="event" data-date="2005">
                                    <div class="split-contents">
                                        <div class="split-left">
                                          <h3>Creative Component Launched</h3>
                                          <p>"We can be all things to all people!" 📣</p> 
                                        </div>
                                        <div class="split-right">
                                            <p style="height: 100%;"></p>
                                        </div>
                                    </div>   
                                </li>
                            </ul>
                        </div>

                       </div>
            </section>
    
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <div class="cd-timeline-content" id="q1">
                        <h2>Q1 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. January - 31 March
                          </span>
                        </div>
                        <p>VCIP01-first major update </p>
                        <ul class="content-skills">
                            <li>0.17.1 code-base from Bitcoin Core</li>
                            <li>Dynamic non-linear halvings implemented</li>
                            <li>Dynamic reward system improved</li>
                            <li>QT-gui improved</li>
                            <li>Smoother masternode start</li>
                        </ul>
                        <p>Improve packaging for releases<p>
                        <ul class="content-skills">
                            <li>compatibility with Travis-platform</li>
                            <li>implement process of building .deb packages</li>
                            <li>set-up Ubuntu/Debian repository</li>
                            <li>Windows installer</li>
                            <li>macOS installer</li>
                        </ul>
                        <p>Docs: Review and update all the documentation</p>
                        <ul class="content-skills">
                            <li>correction of branding</li>
                            <li>update outdated IRC for Discord and other links</li>
                            <li>port MN relevant docs from Dash Core</li>
                        </ul>
                        <p>New website and explorer development</p>
                        <ul class="content-skills">
                            <li>design in Veles theme</li>
                            <li>intagrate websocket-tech</li>
                            <li>extra blockhain-theme functions impleneted</li>
                            <li>remastering explorer</li>
                            <li>integrate explorer into website</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block" id="timeline-block-1">
                    <div class="cd-timeline-img cd-movie">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content" id="q2">
                        <h2>Q2 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. April - 31 June
                          </span>
                        </div>
                        <p>New website and explorer development</p>
                        <ul class="content-skills">
                            <li>new explorer landing page</li>
                            <li>finish interactive map </li>
                            <li>update hq images</li>
                            <li>update texts</li>
                            <li>fix https cert. on explorer</li>
                            <li>website and explorer alpha release</li>
                        </ul>
                    <p>VCIP02 second major update</p>
                    <ul class="content-skills">
                        <li>new updated MN collateral</li>
                        <li>rebase onto bitcoin:0.18</li>
                        <li>POS activation</li>
                        <li>PrivateSend / InstantSend activation</li>
                        <li>finalize packaging</li>
                        <li>add lang strings for section Masternodes</li>
                    </ul>
                    <p>dVPN: Integrate OpenVPN service with masternodes</p>
                    <ul class="content-skills">
                        <li>integration as a MN service</li>
                        <li>reachability and connectivity checks</li>
                        <li>X11 certificate generation based on VLS private key signature through decentralized Veles Certification Authority</li>
                        <li>first pre-alpha test version</li>
                    </ul>
                </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block" id="q3">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2>Q3 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. July - 31 September
                          </span>
                        </div>
                        <p>VCIP03 third major update</p>
                        <ul class="content-skills">
                            <li>DIP 1 integration</li>
                            <li>DIP 2 integration</li>
                            <li>Deterministic masternode integration</li>
                        </ul>
                        <p>dVPN: Implement II. tier masternodes</p>
                        <ul class="content-skills">
                            <li>tier 2 masternode integration</li>
                            <li>to function as exit nodes</li>
                            <li>to provide multi-hop routing</li>
                            <li>IPv6 to IPv4 routing layer to support IPv6 masternodes</li>
                            <li>management of subscriptions on blockchain</li>
                        </ul>
                        <p>New wallets integration</p>
                        <ul class="content-skills">
                            <li>webwallet integration</li>
                            <li>angular-cli client integration</li>
                            <li>alpha release of Android/IOS wallet</li>
                            <li>hardware wallet support</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content" id="q4">
                        <h2>Q4 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. October - 31 December
                          </span>
                        </div>
                        <p>Working alongside the designer team implementing the designs, also developing custom solutions to address team necessities.</p>
                        <ul class="content-skills">
                            <li>VCIP01 Alpha Release</li>
                            <li>New Website</li>
                            <li>Start with marketing</li>
                            <li>Technical paper</li>
                            <li>Estabilizating core Team</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
            </section>
        </div><!-- /#content -->
    </div>
</body>
</html>
