<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="roadmap-page">
            <div class="container">
                <h1 class="mt-4 mb-3">Roadmap</h1>
                 <div class="row">
                     <div class="col-sm-12">
                         <a href="/index.html">
                             <div class="bread-button bread">
                                 <span class="label">Home</span>
                                 <span class="icon">
                                 <span></span>
                                 </span>
                                 <span class="icon2"></span>
                             </div>
                         </a>
                         <div class="bread-button bread active" id="bread-button">
                             <span class="label">Roadmap</span>
                             <span class="icon">
                             <span></span>
                             </span>
                             <span class="icon2"></span>
                        </div>
                        <ol class="breadcrumb" id="breadcrumb-1"></ol>
                    </div>
                </div>
            </div>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="timeline">
                                <li class="event milestone" data-date="Q4 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Network Bootstrap Stage</h1>
                                            <p>Public launch of the project.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul>
                                                <li class="checked">Launch of the (legacy) network</li>
                                                <li class="checked">First code release <a href="https://github.com/velescore/veles-legacy-r1">Veles Core R1</a></li>
                                                <li class="checked">Full code rewrite <a href="https://github.com/velescore/veles-legacy-r2">Veles Core R2</a> released</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Nov 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Production Network Launch</h3>
                                            <p>Official launch of main-net for the current production network.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                                <li class="checked">Full code rewrite <a href="https://github.com/velescore/veles-legacy-r3">Veles Core R3</a> based Bitcoin Core v0.17 and FXTC with the support for multi-algo and masternodes</li>
                                                <li class="checked">Coinswap of 50k VLS for early adopters</li>
                                                <li class="checked">Original pre-mine burned</li>
                                                <li class="checked">Minimal block rewards until VCIP01 completed</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event milestone" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>VCIP01 PoW Mining Stage</h1>
                                            <p><b>Veles Core v0.17 "Aged Amnesia" Release</b></p>
                                            <p>Start of full mining rewards following major PoW consensus upgrade after the end of bootstrap phase.
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Significantly increase block rewards to provide neccessary supply</li>
                                            <li class="checked">Non-linear halving interval to shorten the inflation period</li>
                                            <li class="checked">Equalise dynamic rewards among all the algos</li>
                                            <li class="checked">Adaptive supply control with halving re-scheduling and automatic dynamic rewards boost</li>
                                            <li class="checked">Masternode rewards gradual increase from 5% to 60% in 5 years</li>
                                            <li class="checked">Dev-team rewards gradual decrease from 5% to 0% in 5 years</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Masternode Installer</h3>
                                            <p>Solution to make setting up self-hosted Veles masternode on a Linux boxes easier for a common person.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><a href="https://github.com/AltcoinBaggins/veles-installer">Veles Masternode Installer</a> released to simplify masternode installation on Linux boxes.</li>
                                            <li>Support for several distributions including Ubuntu, Debian, Gentoo, RedHat, Fedora, CentOS etc.</li>
                                            <li>As an alternative solution, Veles fork of the popular installation script <a href="https://github.com/velescore/nodemaster">Nodemaster</a></li> is also available</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Mar 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>GUI Client Update</h3>
                                            <p>Full redesign of graphical QT GUI wallet client for all desktop platforms, new features to support easy styling.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Complete redesign of QT wallet UI for all desktop platforms</li>
                                            <li class="checked">Clear indication whether pre-release or stable version is used</li>
                                            <li class="checked">Support for exporting and loading of custom QSS stylesheets to enable designers easy customization without the need of C++ knowledge</li>
                                            <li class="checked">Started development of separate experimental GUI based on Angular</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>


                                <li class="event" data-date="Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Maximum Supply Reduction/h3>
                                            <p>Officialy announced reduction of maximum supply from 12.5m to 2m VLS</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">12.5m VLS the legacy maximum supply defined at the Veles project start</li>
                                            <li class="checked">6 months after the network launch, because of the nature of our dynamic reward system on Veles blockchain we've decided to reduce the maximum supply to the
                                            current theoretical limit based on maximum block rewards, hence not leaving a space for a further possible changes to consensus that could increase current inflation rate of VLS</li>
                                            <li class="checked">2.5m VLS official coin supply announced
                                            <li class="checked">Prepared a plan to implement decrease of Veles masternode collateral from 2000 to 500 VLS to match the new supply limit, to enable sufficient number of tier I. masternode to exist to be implemented in next major release (v0.18), because v0.17.1 already in a feature-freeze and public testing stage.</li>
                                            <li class="checked">Maximum supply safety enforcemnent also to be implemented in v0.18 (to prevent very unlikely occasion that might happen in over 100 years time - but to be formally enforced in the code)</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                                             
                                <li class="event" data-date="Feb - Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Core Update v0.17.1</h3>
                                            <p>Next stable release of Veles Core client and server including all recent updates and fixes.</p>
                                            <p>New installation wizards for most of the popular desktop and server platforms including Raspberry PI.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">Fixes by Veles Core team covering issues emerged from testing up-to date</li>
                                            <li class="checked">Ported all updates from Bitcoin Core v0.17.1</li>
                                            <li class="checked">Support for Travis Continuous Integration and automated testing</li>
                                            <li class="checked">Installation wizard for Windows 32/64 bit</li>
                                            <li class="checked">Installation .deb packages and apt-get repository for Ubuntu/Debian Linux</li>
                                            <li class="checked">Binaries for Raspberry Pi vanilla Linux and Raspbian .deb packages</li>
                                            <li class="checked">Installation file .dmg for macOS</li>
                                            <li class="checked">Revised and updated project documentation, added documentation about masterndes</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>Veles Core Web and Infrastructure</h3>
                                            <p>New website and explorer integrated with Veles blockhain providing real-time data about the network.</p>
                                            <p>New high-load REST API and high-speed websocket server-push.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">New project website with updated information and new design</li>
                                            <li class="checked">Redesigned block explorer and integrated with website</li>
                                            <li class="checked">Providing real-time data and statistics of blockchain using websockets and server-push</li>
                                            <li class="checked">High-load backend service providing load-balanced public APIs</li>
                                            <li>International translations of whitepaper and website</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>VCIP02 PoS Implementation Stage</h1>
                                            <p><b>Veles Core v0.18 "Blockchain Baracuda" Release</b></p>
                                            <p>Implementation and launch of Proof-Of-Stake
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Implementation and launch of Proof-Of-Stake consensus mechanism to complement PoW for a stronger and safer network</li>
                                            <li>PrivateSend / InstantSend activation</li>
                                            <li>Rebase code to the latest Bitcoin v0.18, implementing several new features as wallet backup utility, and base for future support of hw wallets</li>
                                            <li>Transformation period for a new masternode collateral decreased from 2000 to 500 VLS to match decreased maximum supply</li>
                                            <li>Further improve internalization support on GUI client</li>
                                            <li>Optional pre-alpha dVPN dapp for masternode operators to enable future live testing</li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q3 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>VCIP03 dVPN Integration Stage</h1>
                                            <p>Updates to the blockchain and the network to provide the best environment for the needs of dVPN service as DIP0002 Special Transactions. Pre-alpha dVPN service for testing and development.
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Port DIP0002 Special Transactions to enable storing of VPN subscriptions on-blockchain in a correct manner</li>
                                            <li>Integrate DIP0003 Deterministic Masternodes implementation, reliable on-blockchain masternode sync</li>
                                            <li>Development of decentralized Certification Authority for RSA certificates used for dVPN connection</li>
                                            <li>Start of DEX development for use within the ecosystem to enable trade of tokens representing hours of VPN connection time to provide better store-of-value, price discovery and free transfer of pre-paid VPN time.</li>
                                            <li>Pre-alpha dVPN dapp on voluntary masternodes for testing and client development</li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q4 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>dVPN Implementation Stage</h1>
                                            <p>
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Tier II masternode implementation to function as exit nodes to provide multi-hop routing</li>
                                            <li>IPv6 to IPv4 routing layer to support IPv6 exit nodes</li>
                                            <li>Management of subscriptions on blockchain</li>
                                            <li>Desktop and mobile dVPN client wallet integration with VPN</li>
                                            <li>Public alpha testing version of dVPN using voluntary nodes</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="Q1 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>dVPN Launch Stage</h1>
                                            <p>Transition period for all the masternodes to enable dVPN service.</p>
                                            <p>Network Official launch of dVPN for a public use during Q1.</p>
                                            <p>Public alpha testing version of DEX within Veles Ecosystem.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>dVPN live for public use</li>
                                            <li>Transition period for dVPN dapp to be mandatory for masternode operators</li>
                                            <li>IPv6 to IPv4 routing layer to support IPv6 exit nodes</li>
                                            <li>dVPN live for public use</li>
                                            <li>Public alpha testing version of DEX for a dVPN connection time tokens</li>
                                            <li>Explore the idea of hashrate rental tokenisation and exchange on DEX, which could also provide decentralized data on market price of hashrate to be used by more advanced dynamic PoW rewards adjustments.</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event proposal" data-date="Q2 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>dVPN Scaling Stage</h1>
                                            <p>Improve dVPN for better scaling using the data from the Q1, development of Proof-Of-Geolocation. 
                                            </p>
                                            <p>Veles DEX public release.</p>
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Improve and refactor dVPN implementation for betters scaling</li>
                                            <li>Research on new viable scaling solutions using the data from the Q1.</li>
                                            <li>Start development and testing of the concept of Proof-Of-Geolocation to enable more decentralized and better distribution of VLS exitnodes around the world.</li>
                                            <li>dVPN live for public use</li>
                                            <li>Public release of Veles DEX and web-interface</li>
                                        </div>
                                    </div>
                                </li>


                                <li class="event milestone proposal" data-date="Q3 - Q4 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Governance Bootstrap Phase</h1>
                                            <p>Development of the decentralized infrastructure, proccesses and smart-contracts to enable future governance of the project by the community.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Develop means and infrastructure for a fair decentralized way of governance over all of the decision processes involved in the Veles ecosystem maintenance and development</li>
                                        </div>
                                    </div>
                                </li>


                                <li class="event proposal" data-date="2020 - 2023">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Transformation Phase</h1>
                                            <p>Time window to implement and battle-test all the governance processes before functioning as fully decentralized organisation with the support of Veles Core team.</p>
                                            </p>
                                            <p>Maintenance of the dVPN network and implementation of the new features and use-cases suggested by the community as users, node operators and developers.
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li></li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event proposal" data-date="2024">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>Full Community Takeover</h1>
                                            <p>At this time all of the governance over the network and the development of the code should be solely in a hands of the decentralized organisation driven by the community of network participants, supporters and developers.</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>Current members of Veles Core team will continue helping the community to work on Veles ecosystem development as it's our passion to continue changing the world as long as we will be able to.</li>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                       </div>
            </section>
    
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <div class="cd-timeline-content" id="q1">
                        <h2>Q1 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. January - 31 March
                          </span>
                        </div>
                        <p>VCIP01-first major update </p>
                        <ul class="content-skills">
                            <li>0.17.1 code-base from Bitcoin Core</li>
                            <li>Dynamic non-linear halvings implemented</li>
                            <li>Dynamic reward system improved</li>
                            <li>QT-gui improved</li>
                            <li>Smoother masternode start</li>
                        </ul>
                        <p>Improve packaging for releases<p>
                        <ul class="content-skills">
                            <li>compatibility with Travis-platform</li>
                            <li>implement process of building .deb packages</li>
                            <li>set-up Ubuntu/Debian repository</li>
                            <li>Windows installer</li>
                            <li>macOS installer</li>
                        </ul>
                        <p>Docs: Review and update all the documentation</p>
                        <ul class="content-skills">
                            <li>correction of branding</li>
                            <li>update outdated IRC for Discord and other links</li>
                            <li>port MN relevant docs from Dash Core</li>
                        </ul>
                        <p>New website and explorer development</p>
                        <ul class="content-skills">
                            <li>design in Veles theme</li>
                            <li>intagrate websocket-tech</li>
                            <li>extra blockhain-theme functions impleneted</li>
                            <li>remastering explorer</li>
                            <li>integrate explorer into website</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block" id="timeline-block-1">
                    <div class="cd-timeline-img cd-movie">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content" id="q2">
                        <h2>Q2 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. April - 31 June
                          </span>
                        </div>
                        <p>New website and explorer development</p>
                        <ul class="content-skills">
                            <li>new explorer landing page</li>
                            <li>finish interactive map </li>
                            <li>update hq images</li>
                            <li>update texts</li>
                            <li>fix https cert. on explorer</li>
                            <li>website and explorer alpha release</li>
                        </ul>
                    <p>VCIP02 second major update</p>
                    <ul class="content-skills">
                        <li>new updated MN collateral</li>
                        <li>rebase onto bitcoin:0.18</li>
                        <li>POS activation</li>
                        <li>PrivateSend / InstantSend activation</li>
                        <li>finalize packaging</li>
                        <li>add lang strings for section Masternodes</li>
                    </ul>
                    <p>dVPN: Integrate OpenVPN service with masternodes</p>
                    <ul class="content-skills">
                        <li>integration as a MN service</li>
                        <li>reachability and connectivity checks</li>
                        <li>X11 certificate generation based on VLS private key signature through decentralized Veles Certification Authority</li>
                        <li>first pre-alpha test version</li>
                    </ul>
                </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block" id="q3">
                    <div class="cd-timeline-img cd-picture">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <h2>Q3 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. July - 31 September
                          </span>
                        </div>
                        <p>VCIP03 third major update</p>
                        <ul class="content-skills">
                            <li>DIP 1 integration</li>
                            <li>DIP 2 integration</li>
                            <li>Deterministic masternode integration</li>
                        </ul>
                        <p>dVPN: Implement II. tier masternodes</p>
                        <ul class="content-skills">
                            <li>tier 2 masternode integration</li>
                            <li>to function as exit nodes</li>
                            <li>to provide multi-hop routing</li>
                            <li>IPv6 to IPv4 routing layer to support IPv6 masternodes</li>
                            <li>management of subscriptions on blockchain</li>
                        </ul>
                        <p>New wallets integration</p>
                        <ul class="content-skills">
                            <li>webwallet integration</li>
                            <li>angular-cli client integration</li>
                            <li>alpha release of Android/IOS wallet</li>
                            <li>hardware wallet support</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                    </div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content" id="q4">
                        <h2>Q4 2019</h2>
                        <div class="timeline-content-info">
                            <span class="timeline-content-info-title">
                          <i class="fa fa-certificate" aria-hidden="true"></i>
                          Development 1. October - 31 December
                          </span>
                        </div>
                        <p>Working alongside the designer team implementing the designs, also developing custom solutions to address team necessities.</p>
                        <ul class="content-skills">
                            <li>VCIP01 Alpha Release</li>
                            <li>New Website</li>
                            <li>Start with marketing</li>
                            <li>Technical paper</li>
                            <li>Estabilizating core Team</li>
                        </ul>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
            </section>
        </div><!-- /#content -->
    </div>
</body>
</html>
