<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="team-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey">The</span> Team</h1>
            </div>
            <!-- Intro Content -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 text-center">
                            <img class="img track-in-view left-slide-in img-team-about" src="images/community-official.png" alt="">
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <h2>About</h2>
                            <p>
                                Veles is technology, however with that, it’s also much more that just bits of code and elaborate algorithms. It’s a community. It’s an organically growing network of individuals assembling a set of core principals, beliefs, visions, and ideas, collaborating together to develop Veles. We are, at the end of the day, a collective of human beings coming together, inputting our various energies, resources, talents, and visions. Some of us are expert coders, ethical hackers, others are good in managing community, web-development and more . As a reminder, often in tech and crypto realms, individuals are known by their “nicknames” more than their own names.
                            </p>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><h2>Our Team</h2></div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/baggins.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Altcoinbaggins</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Founder, Developer </h6>
                                    <p class="card-text">Working on Veles main coder.Very good in c++/c, python, networking and linux skills on level expert. Main founder , full time working on Veles-network.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/altcoinbaggins">Altcoinbaggins</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/mdfkbtc.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Mdfkbtc</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Founder, Developer, Support</h6>
                                    <p class="card-text">"Founder.Working on Veles as Support/Admin/Community-manager/Project-manager partly dev. Some skills in operating systems (most in linux), c++ and in other common used languages."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/mdfkbtc">Mdfkbtc</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Uhlik</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                                    <p class="card-text">"Working on Veles as coder. Expert programmer with 30 years of experience, superior skills in x86 CPU architecture, operating systems and virtualization (Microsoft Certified Professional for Hyper-V). Master in blockchain technology."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/uhliksk">Uhliksk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Virtuado</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Main-tester,Support, Community Mode</h6>
                                    <p class="card-text">"Working on Veles as Main tester ,bug-huter and Support, Community mode on our social channels"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/virtuado">Virtuado</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/maty.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Maty</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Graphics designer</h6>
                                    <p class="card-text">"Working on Veles as graphics designer."</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">Maty</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Team Member</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Open</h6>
                                    <p class="card-text">open position</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
        </div><!-- /.container -->
    </div><!-- /#content -->
</body>
</html>
