<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="team-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3">团队情况</h1>
            </div>
            <!-- Intro Content -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 text-center">
                            <img class="img track-in-view left-slide-in img-team-about" src="images/community-official.png" alt="">
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <h2>关于我们</h2>
                            <p>
                              Veles是一种技术，但它又不仅仅只由代码和复杂的算法构成。它更是一个社区。一个有机增长的独立网络，由一系列核心原则，信念，愿景和想法汇聚而成，共同合作开发Veles。我们的成员有的是专业开发者，白帽黑客，社区运营高手，网络开发天长等等，我们为Veles输入能量，资源，才华和理想。对了，通常在加密技术领域，人们不用自己的真名，而是用昵称。
                            </p>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><h2>我们的队伍</h2></div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/baggins.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Altcoinbaggins</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">创始人，首席开发者</h6>
                                    <p class="card-text">“拥有20年经验的编程人员，白帽黑客和区块链极客。熟练使用网络技术，C/C++，python，SQL等等”</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/altcoinbaggins">Altcoinbaggins</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/mdfkbtc.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Mdfkbtc</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">创始人，开发者</h6>
                                    <p class="card-text">“在Veles担任支持/管理/社区管理员/项目经理，兼职开发。擅长Linux，c ++和其他常用语言。”</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/mdfkbtc">Mdfkbtc</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Uhlik</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">开发者</h6>
                                    <p class="card-text">“Veles程序员。拥有30年经验的专业程序员，x86 CPU架构，操作系统和虚拟化方面技术突出（微软Hyper-V认证专家）。掌握区块链技术。”</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/uhliksk">Uhliksk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Virtuado</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">社区主要测试人员，支持人员</h6>
                                    <p class="card-text">"“作为主要测试人员，寻找BUG和主持社区工作。曾任系统管理员，现在是交易员。因为兴趣而接触到加密领域，后来成为业余爱好，现在加入Veles项目，并坚信Veles项目将会取得成功。“</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/virtuado">Virtuado</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/maty.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Maty</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">图形设计师</h6>
                                    <p class="card-text">"Veles的图形设计师"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">Maty</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Team Member</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">虚位以待</h6>
                                    <p class="card-text">职位开放</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">虚位以待</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
        </div><!-- /.container -->
    </div><!-- /#content -->
</body>
</html>
