<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Resources</h1>
             <div class="row">
                 <div class="col-sm-12">
                     <div class="bread-button bread">
                         <span class="label">Home</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                     </div>
                     <div class="bread-button bread active" id="bread-button">
                         <span class="label">Resources</span>
                         <span class="icon">
                         <span></span>
                         </span>
                         <span class="icon2"></span>
                     </div>
                     <ol class="breadcrumb" id="breadcrumb-1"></ol>
                 </div>
             </div>
             <br>
            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="mb-4" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header"><h5>Veles Wiki :</h5></div>
                            <div class="card-body" id="card-body-1">
                                <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/velescore/veles/wiki/Masternode-Setup-Guide">1. Masternode setup guide</a></p>
                                <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/velescore/veles/wiki/Whitepaper">2. Whitepaper</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>
