<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="Android-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey"><span lang="en">Android</span> </span><span lang="en">dVPN</span> </span>教程</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/mac-wallet.png" alt="iOS Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>安裝</h2>
                            <p class="my-6">
                                打開穀歌應用商店。搜索並安裝<span lang="en">Android OpenVPN Connect</span>，這是<span lang="en">Android OpenVPN</span>的官方的應用程式。
                                <br />
                            </p>
                            <p class="my-6">
                                下載 <a href=""><b>配置</b></a> 檔.
                                <br />
                            </p>
                            <p class="my-6">
                                開啟<span lang="en">OpenVPN</span>應用並點擊菜單導入<b>配置</b>檔。
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/android/android-import.png">
                            <p class="my-6">
                                然後選擇保存的配置檔的位置（截圖中使用<code><span lang="en">/sdcard/Download/</span></code>）並選擇檔，應用會提示你配置檔已導入。
                                </br>
                            </p>
                            <img class="img-dvpn-guide track-in-view track-in-view-ios left-slide-in" src="images/dvpn-guide/android/android-download-config.png">
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>連接</h2>
                            <p class="my-6">
                                只需點擊<b>連接</b>按鈕即可連接，有時會詢問您是否信任<span lang="en">OpenVPN</span>應用程式，選擇“確定”啟動連接。要斷開與<span lang="en">VPN</span>的連接，請返回<span lang="en">OpenVPN</span>應用並選擇“斷開連接”。
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/android/android-connect-vpn.png">
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>測試您的<span lang="en">VPN</span>連接</h2>
                            <p class="my-6">
                                一旦所有的東西都安裝好了，只需要一個簡單的檢查就可以確認他是否運作。在未啟用<span lang="en">VPN</span>連接的情況下，打開流覽器並轉到 <a href="https://www.dnsleaktest.com/"><span lang="en">DNSLeakTest</span></a>。</br>
                                該站點將返回由您的網路服務提供商分配的<span lang="en">IP</span>地址，以及您在世界其他地方顯示的<span lang="en">IP</span>地址。若要通過同一網站檢查您的<span lang="en">DNS</span>設置，請單擊<b>擴展測試（<span lang="en">Extended Test</span>）</b>，它會告訴您正在使用的<span lang="en">DNS</span>伺服器。<br>
                                現在，連接到您的<span lang="en">VPN</span>客戶端並刷新流覽器，應該會顯示與您的<span lang="en">VPN</span>伺服器的完全不同的<span lang="en">IP</span>地址。然後再次進行<b>擴展測試（<span lang="en">Extended Test</span>）</b>檢查您的<span lang="en">DNS</span>設置，並確認您正在使用<span lang="en">Veles dVPN</span>推送的<span lang="en">DNS</span>解析。
                            </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>
