<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="coin-specs-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3">代幣規則</h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="mb-4" role="tablist" aria-multiselectable="true">
                                <div class="card card-coin-specs">
                                    <div class="card-header"><h5>一般規則 :</h5></div>
                                    <div class="card-body" id="card-body-1">
                                        <p>最大供應量 :<b class="text-orange"><span lang="en"> 2 500 000 VLS</span></b></p>
                                        <p>區塊時間 :<b class="text-orange"><span lang="en"> 2 minutes</span></b></p>
                                        <p>預挖兑換 :<b class="text-orange"><span lang="en"> 50000 VLS</span></b></p>
                                        <p>主節點質押數量 :<b class="text-orange"><span lang="en"> 500 VLS</span></b></p>
                                        <p>目前支持 :<b class="text-orange"><span lang="en"> Lyra2z, X11, X16R, Sha256d, Scrypt, Nist5</span></b></p>
                                        <p>激活獨有的開發者地址 :<b class="text-orange"><span lang="en"> VKtig9w7wfx6Ep9B4NnbwxLj1bkY2kHXBj</span></b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="mb-4" role="tablist" aria-multiselectable="true">
                                <div class="card card-coin-specs">
                                    <div class="card-header"><h5>獎勵系統 :</h5></div>
                                    <div class="card-body" id="card-body-1">
                                        <p>最大區塊獎勵 :<b class="text-orange"><span lang="en"> 5 VLS</b></span></p>
                                        <p>起碼區塊獎勵 :<b class="text-orange"><span lang="en"> 0.01 VLS</b></span></p>
                                        <p>主節點區塊獎勵部分 :<span lang="en"><b class="masternodes-reward-percent text-orange"> 0</b><b class="text-orange"> %</b></span></p>
                                        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                           <div class="card card-coin-specs">
                                               <div role="tab" id="headingOne">
                                                   <h5 class="h5-resources">
                                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">動態獎勵系統解釋
                                                       </a>
                                                   </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse coin-specs-collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-body" id="card-body-1">
                                                        <p>采礦報酬 :</p>
                                                        <p>動態區塊獎勵會根據每個算法的哈希值單獨計算。例如：如果 <span lang="en">X11</span> 算法為 <span lang="en">200GH/S</span>，而 <span lang="en">Scrypt</span> 為
                                                           <span lang="en">5MH/S</span>，則 <span lang="en">X11</span> 算法中的出塊獎勵為大約 <span lang="en">0.2 VLS</span>，而 <span lang="en">Scrypt</span> 的出塊獎勵為 <span lang="en">0.003 VLS</span>。因此，不
                                                           可能出現單一算法獲得大量出塊獎勵的情況。</p>
                                                        <hr>
                                                        <p>主節點區塊獎勵部分 :</p>
                                                        <p>5年內從<span lang="en">5％</span>增加至<span lang="en">60％</span>。</p>
                                                        <hr>
                                                        <p>發展報酬 :</p>
                                                        <p>5年內的<span lang="en">5％</span>递減至<span lang="en">0％</span>。</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="mb-4" role="tablist" aria-multiselectable="true">
                                <div class="card card-coin-specs">
                                    <div class="card-header"><h5>減半系統 :</h5></div>
                                    <div class="card-body" id="card-body-1">
                                        <p>區塊獎勵下一次減半檢查 :<b class="chain-pow-blocks-to-next-epoch text-orange"> 0</b> 塊</p>
                                        <p>首批供應量達到最小 :<span lang="en"> 80%</span>供應的<b class="chain-pow-supply-target-reached text-orange">0</b></p>
                                        <p> <span lang="en">Veles</span>有獨特設計的動態非線性減半機制。以下是功能和用法說明。您可以使用<span lang="en">rpc</span>命令<span lang="en">“gethalvingstatus”</span>檢查<span lang="en">Veles</span>減半状態。</p>
                                        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="card card-coin-specs">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">動態非線性減半系統解釋
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse coin-specs-collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-body" id="card-body-1">
                                                    <span lang="en">
                                                        <p> -Veles引入了動態非線性減半週期——減半週期將在每次發生減半時加倍，從而創建更平滑的供應曲線。如果自上一次減半以來沒有開采足夠的VLS，則每次減半可能會自動延迟另一個減半間隔長度。我們已經實施了這一措施，以減輕多算法動態獎勵的一些缺點，即如果散列值-利率较低，保證實际供應曲線盡量接近理論模型。</p>
                                                      <p><b>例gethalvingstatus :</b>
                                                          <br> {
                                                          <br> "halvings_occured": 1,
                                                          <br> "epochs_occured": 5,
                                                          <br> "halving_interval": 4000,
                                                          <br> "blocks_to_next_epoch": 1579,
                                                          <br> "epoch_supply_target_reached": "14%",
                                                          <br> "min_epoch_supply_to_halve": "80%",
                                                          <br> }
                                                          <br>
                                                          <hr>
                                                          <p> 它從最基本的信息開始，這里的這個說，下一個塊獎勵減半應该在1579個塊中發生，但很可能不會發生，因為我們只從上一個減半後所需的最大理論塊獎勵的80%中挖掘了14%（因為動態塊獎勵取決於哈希率numb如果減半沒有發生，就會再推迟4000個街區。但是，動態塊獎勵實际上會增加（而不是減半），這樣我們就可以更快地達到我們的目標（硬幣將被開采到下一個減半），並且不會在不必要的情況下將減半延迟太長時間，
                                                              即使哈希率低於理想值。在下一個例子中，可以看到關於動態塊獎勵的這種“提升”的更具體的信息，然後輸出包含所有5個“減半時期”的信息。</p>
                                                          <hr> "epochs": [
                                                          <br> {
                                                          <br> "epoch_name": "ALPHA",
                                                          <br> "started_by_halving": false,
                                                          <br> "start_block": 50000,
                                                          <br> "end_block": 51999,
                                                          <br> "max_block_reward": 80.00000000,
                                                          <br> "dynamic_rewards_boost": false,
                                                          <br> "start_supply": 71864.16989983,
                                                          <br> "end_supply": 154133.54077063,
                                                          <br> "supply_target": 160000.00000000,
                                                          <br> "supply_this_epoch": 82269.37087080,
                                                          <br> "supply_since_halving": 82269.37087080,
                                                          <br> "supply_target_reached": "51%" //<b>80%未達到，減半延迟</b>
                                                          <br> },
                                                          <br> {
                                                          <br> "epoch_name": "ALPHA_H0_E1",
                                                          <br> "started_by_halving": false,
                                                          <br> "start_block": 52000,
                                                          <br> "end_block": 53999,
                                                          <br> "max_block_reward": 80.00000000,
                                                          <br> "dynamic_rewards_boost": "+50%", //<b>獎勵調整開始了</b>
                                                          <br> "start_supply": 154133.54077063,
                                                          <br> "end_supply": 273041.50588623,
                                                          <br> "supply_target": 160000.00000000,
                                                          <br> "supply_this_epoch": 118907.96511560,
                                                          <br> "supply_since_halving": 201177.33598640,
                                                          <br> "supply_target_reached": "125%"
                                                          <br> },
                                                          <br> {
                                                          <br> "epoch_name": "ALPHA_H1_E0",
                                                          <br> "started_by_halving": true, //<b>成功減半</b>
                                                          <br> "start_block": 54000,
                                                          <br> "end_block": 57999,
                                                          <br> "max_block_reward": 40.00000000,
                                                          <br> "dynamic_rewards_boost": false,
                                                          <br> "start_supply": 273041.50588623,
                                                          <br> "end_supply": false,
                                                          <br> "supply_target": 160000.00000000,
                                                          <br> "supply_this_epoch": 23011.73077920,
                                                          <br> "supply_since_halving": 23011.73077920,
                                                          <br> "supply_target_reached": "14%"
                                                          <br> }
                                                          <br>
                                                          <hr>
                                                      </p>
                                                        <p>例如，我們可以看到，在52000區塊，由於開采的VLS的目標量只有51%，而所需量為80%，因此沒有發生減半。最大區塊獎勵為80 VLS。</p>
                                                        <p>所以減半被另一個2公里的街區延迟了，這構成了另一個減半時代（aplha_h0_e1），其中“max_block_reward”仍然是80 VLS，“dynamic_rewards_boost”開始增加50%的動態街區獎勵（但始终在80 VLS的最大街區獎勵范围內）。由於這個機制，我們可以看到在他和這個時代的最初目標實际上實現了125%
                                                          （随著時間的增長，那些額外的百分比也就很好了）。</p>
                                                        <p>當目標實現時，第三部分顯示，區塊54000至40 VLS成功地將區塊獎勵減半，並且“dynamic_reward_boost”關闭，下一次檢查和調整將在區塊58000的另一個紀元開始時進行。</p>
                                                      </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /#content -->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="footer-wrapper">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="js/apploader.js"></script>
    </div>
</body>
</html>
