<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="ios-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey"><span lang="en">iOS</span> </span><span lang="en">dVPN</span> </span>教程</span></h1>
            </div>
            <section id="openvpn-教程">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/mac-wallet.png" alt="iOS Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>安裝<span lang="en">OpenVPN</span></h2>
                            <p class="my-6">
                                從<span lang="en">App Store</span>中，搜索並安裝正式的<span lang="en">OpenVPN</span>客戶端應用<b><span lang="en">OpenVPN Connect</span></b>。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-dvpn-download.png">
                        <br />
                            <h2>配置<span lang="en">OpenVPN</span></h2>
                            <p class="my-6">
                                下載 <a href="https://explorer.veles.network/dapi/getOpenVPNConfig"> <b>配置</b></a> 檔 ，並通過<b>複製到<span lang="en">OpenVPN</span></b>來打開<span lang="en">OpenVPN Connect</span>。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-open-config.png">
                            <p class="my-6">
                                點擊<b>添加（<span lang="en">Add</span>）</b>將配置檔導入
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-import-config.png">
                            <p class="my-6">
                                然後應該看到<b>配置導入成功<span lang="en">“Profile successfully imported”</span></b>，現在只需把<b>配置添加到您的<span lang="en">OpenVPN</span>連接。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-add-profile.png">
                        <br />
                            <h2>連接</h2>
                            <p class="my-6">
                                <span lang="en">OpenVPN</span>現在可以與新的配置檔一起使用了。將連接按鈕滑動到<b>開</b>位置，開始連接。通過將同一按鈕滑動到關閉位置，斷開連接。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-connect-vpn.png">
                            <div class="dvpn-guide-note">
                                <p><i class="fa fa-info-circle" aria-hidden="true"></i>無法使用<b>設置</b>下的連接到VPN。如果您嘗試，您將會收到通知，只使用<span lang="en">OpenVPN</span>應用連接。
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section id="測試連接">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>測試您的<span lang="en">VPN</span>連接</h2>
                            <p class="my-6">
                                一旦所有的東西都安裝好了，只需要一個簡單的檢查就可以確認他是否運作。在未啟用<span lang="en">VPN</span>連接的情況下，打開流覽器並轉到 <a href="https://www.dnsleaktest.com/"><span lang="en">DNSLeakTest</span></a>。</br>
                                該站點將返回由您的網路服務提供商分配的<span lang="en">IP</span>地址，以及您在世界其他地方顯示的<span lang="en">IP</span>地址。若要通過同一網站檢查您的<span lang="en">DNS</span>設置，請單擊<b>擴展測試（<span lang="en">Extended Test</span>）</b>，它會告訴您正在使用的<span lang="en">DNS</span>伺服器。<br>
                                現在，連接到您的<span lang="en">VPN</span>客戶端並刷新流覽器，應該會顯示與您的<span lang="en">VPN</span>伺服器的完全不同的<span lang="en">IP</span>地址。然後再次進行<b>擴展測試（<span lang="en">Extended Test</span>）</b>檢查您的<span lang="en">DNS</span>設置，並確認您正在使用<span lang="en">Veles dVPN</span>推送的<span lang="en">DNS</span>解析。
                            </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>