<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="mining-pools-page">
           <!-- Page Heading/Breadcrumbs -->
           <div class="container">
               <h1 class="mt-4 mb-3">礦池</h1>
           </div>
           <section>
              <div class="container">
                <div class="row row-mining-pools">
                    <div class="col-lg-6 mb-4">
                        <div class="mb-4" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header"><h5><span lang="en">Lyra2z :</span></h5></div>
                                <div class="card-body" id="card-body-1">
                                    <a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Mining-dutch.nl
                                            </span>
                                            <span class="icon icon-image">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://blockmasters.co/site/mining">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Blockmasters.co</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://letsmine.it/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Letsmine.it</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://www.zpool.ca/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Zpool.ca</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://zergpool.com/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Zergpool.com</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://p2p-usa.xyz:6012/static/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">P2p-usa.xyz</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="mb-4" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header"><h5><span lang="en">Nist5 :</span></h5></div>
                                <div class="card-body" id="card-body-1">
                                <a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label" lang="en">Mining-dutch.nl</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://letsmine.it/">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label" lang="en">Letsmine.it</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="https://www.zpool.ca/">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label" lang="en">Zpool.ca</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="http://zergpool.com/">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label" lang="en">Zergpool.com</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" href="http://p2p-usa.xyz:6012/static/">
                                    <div class="button-effect new" id="btn-index">
                                        <span class="label" lang="en">P2p-usa.xyz</span>
                                        <span class="icon">
                                            <span></span>
                                        </span>
                                        <span class="icon2 icon2-modal"></span>
                                    </div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="mb-4" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header"><h5><span lang="en">X16r :</span></h5></div>
                                <div class="card-body" id="card-body-1">
                                    <a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Mining-dutch.nl</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://blockmasters.co/site/mining">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Blockmasters.co</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://www.nlpool.nl/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">NLpool.nl</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://letsmine.it/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Letsmine.it</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://pool.rig.tokyo/">
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://www.zpool.ca/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Zpool.ca</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://pool.miningpoolrw.de/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Miningpoolrw.de</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://p2p-usa.xyz:6012/static/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">P2p-usa.xyz</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="mb-4" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header"><h5><span lang="en">Sha256d :</span></h5></div>
                                <div class="card-body" id="card-body-1">
                                    <a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Mining-dutch</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://blockmasters.co/site/mining">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Blockmasters.co</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="https://cryptopool.cash/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Cryptopool.cash</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://p2p-usa.xyz:6012/static/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">P2p-usa.xyz</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="mb-4" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header"><h5><span lang="en">X11 :</span></h5></div>
                                <div class="card-body" id="card-body-1">
                                    <a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Mining-dutch.nl</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://blockmasters.co/site/mining">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Blockmasters.co</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://p2p-usa.xyz:6012/static/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">P2p-usa.xyz</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="mb-4" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header"><h5><span lang="en">Scrypt :</span></h5></div>
                                <div class="card-body" id="card-body-1">
                                    <a target="_blank" rel="noopener noreferrer" href="https://mining-dutch.nl">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Mining-dutch</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://blockmasters.co/site/mining">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">Blockmasters.co</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                    <a target="_blank" rel="noopener noreferrer" href="http://p2p-usa.xyz:6012/static/">
                                        <div class="button-effect new" id="btn-index">
                                            <span class="label" lang="en">P2p-usa.xyz</span>
                                            <span class="icon">
                                                <span></span>
                                            </span>
                                            <span class="icon2 icon2-modal"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /#content -->
        </section>
    </div>
</div>
</body>
</html>
