<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="roadmap-page">
            <div class="container">
                <h1 class="mt-4 mb-3">路線圖</h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="timeline track-in-view right-slide">
                                <li class="event milestone" data-date="Q4 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>網络啟動階段</h1>
                                            <p>啟動項目公測</p>
                                        </div>
                                        <div class="split-right">
                                            <ul>
                                                <li class="checked">啟動原始網络</li>
                                                <li class="checked">首次發佈<a href="https://github.com/velescore/veles-legacy-r1"><span lang="en">Veles Core R1</span></a>代碼</li>
                                                <li class="checked">重構並發佈<a href="https://github.com/velescore/veles-legacy-r2"><span lang="en">Veles Core R2</span></a>完整代碼</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Nov 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>啟動成熟網络</h3>
                                            <p>正式啟動當前成熟網络的主網</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                                <li class="checked">基於比特幣<span lang="en">Core v0.17</span>重構<a href="https://github.com/velescore/veles-legacy-r3"><span lang="en">Veles Core R3</span></a>的完整代碼，並支持多算法和主節點的<span lang="en">FXTC</span></li>
                                                <li class="checked">為早期實踐者提供<span lang="en">50000 VLS</span>的代幣兑換獎勵</li>
                                                <li class="checked">銷毁原始預挖部分</li>
                                                <li class="checked">直到<span lang="en">VCIP01</span>完成階段的最小區塊獎勵</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event milestone" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">VCIP01 PoW</span>挖礦階段</h1>
                                            <p><b><span lang="en">發佈Veles Core v0.17 “Aged Amnesia”</span></b></p>
                                            <p>在啟動階段結束，並進行主<span lang="en">PoW</span>共識升級後開始全面挖礦獎勵
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">大量增加區塊獎勵以提供所需的代幣供應量</li>
                                            <li class="checked">非線性減半間隔可縮短通脹期</li>
                                            <li class="checked">在所有算法中均衡動態獎勵</li>
                                            <li class="checked">具有減半重新調度和自動動態獎勵促進的自適應供給控制機制</li>
                                            <li class="checked">主節點獎勵在5年內逐步從<span lang="en">5％</span>增加到<span lang="en">60％</span></li>
                                            <li class="checked">開發團隊獎勵在5年內從<span lang="en">5％</span>逐渐減少到<span lang="en">0％</span></li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3><span lang="en">Veles</span>主節點安裝器</h3>
                                            <p>發佈<span lang="en">Veles</span>主節點安裝程序以簡化<span lang="en">Linux</span>系統的主節點安裝過程</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked"><a href="https://github.com/AltcoinBaggins/veles-installer"><span lang="en">Veles</span></a>主節點安裝程序以簡化<span lang="en">Linux</span>系統的主節點安裝過程</li>
                                            <li class="checked">支持多操作系統平台，包括<span lang="en">Ubuntu，Debian，Gentoo，RedHat，Fedora，CentOS</span>等</li>
                                            <li class="checked">也可以使用流行的安裝腳本<a href="https://github.com/velescore/nodemaster"><span lang="en">Nodemaster</span></a>作為<span lang="en">Veles fork</span>的替代解決方案</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Mar 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>圖形界面版本的客戶端升級</h3>
                                            <p>全面重新設計適用於所有桌面平台的圖形化錢包客戶端，支持輕松操作的新功能</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">為所有桌面平台完全重新設計錢包界面</li>
                                            <li class="checked">清晰指示出是使用預發佈版本还是穩定版本</li>
                                            <li class="checked">支持導出和加載自定义<span lang="en">QSS</span>樣式表，使設計人員無需<span lang="en">C++</span>知識即可輕松定制</li>
                                            <li class="checked">開始開發基於<span lang="en">Angular</span>的獨立實驗界面</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>


                                <li class="event" data-date="Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>減少最大供應量</h3>
                                            <p>正式宣佈將最大供應量從<span lang="en">12,500,000</span>減少到<span lang="en">2,500,000 VLS</span>（沒有破壞社區共識）</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">根據<span lang="en">VCIP01</span>建立的挖礦共識，將<span lang="en">12,500,000VLS</span>的最大供應量減少至<span lang="en">2,500,000 VLS，</span>以匹配當前的理論最大供應量
                                            </li>
                                            <li>保持完整且具有前瞻性的供應曲線，並確保降低<span lang="en">VLS</span>的通貨膨脹率</li>
                                            <li class="checked">制定計劃，在下一個主要版本<span lang="en">（v0.18）</span>中減少<span lang="en">Veles</span> 主節點抵押代幣，從<span lang="en">2000</span>降低到<span lang="en">500 VLS</span>以匹配新的供應限制，以及正式執行的最大供應量限制</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event" data-date="Feb - Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3><span lang="en">Veles Core 升級至 v0.17.1</span></h3>
                                            <p><span lang="en">Veles Core</span>客戶端和服務器的下一個穩定版本，包括所有近期更新和修複的內容</p>
                                            <p>適用於大多数主流桌面和服務器平台的新安裝向導，包括<span lang="en">Raspberry PI</span>。</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked"><span lang="en">Veles Core</span>團隊修複了最新測試中出現的問題</li>
                                            <li class="checked">從比特幣<span lang="en">Core v0.17.1</span>移植所有更新內容</li>
                                            <li class="checked">支持<span lang="en">Travis</span>持续集成和自動化測試</li>
                                            <li class="checked"><span lang="en">Windows 32/64</span>位系統的安裝向導</li>
                                            <li class="checked">為<span lang="en">Ubuntu/Debian/Linux</span>安裝<span lang="en">.deb</span>軟件包和<span lang="en">apt-get</span>存儲庫</li>
                                            <li class="checked"><span lang="en">Raspberry PI vanilla Linux</span>和<span lang="en">Raspbian .deb</span>軟件包的二進制文件</li>
                                            <li class="checked">為<span lang="en">macOS</span>操作系統安裝 <span lang="en">.dmg</span>文件包</li>
                                            <li class="checked">修訂和更新項目文檔，添加了關於主節點的文檔</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3><span lang="en">Veles Core Web</span>和基礎架構</h3>
                                            <p>與<span lang="en">Veles</span> 區塊鏈集成的新網站和區塊瀏覽器，用來提供有關網络的實時数據</p>
                                            <p>新的高負載<span lang="en">REST API</span>和高速<span lang="en">websocket</span>服務器推送</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">提供最新信息和全新設計的新項目網站</li>
                                            <li class="checked">重新設計的區塊瀏覽器並與網站集成</li>
                                            <li class="checked">使用<span lang="en">websockets</span>和<span lang="en">server-push</span>提供區塊鏈的實時数據和統計数據</li>
                                            <li class="checked">提供負載均衡的公共API的高負載後端服務</li>
                                            <li>白皮書和網站的各国語言版本</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">VCIP02 PoS</span>實施階段</h1>
                                            <p><b>發佈<span lang="en">Veles Core v0.18“Blockchain Baracuda”</span></b></p>
                                            <p>實現並啟動<span lang="en">PoS</span>機制
                                            </p>
                                            <div class="roadmap-delay-info">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                <p> Morbi id hendrerit mauris. In ultrices purus ipsum, a aliquam purus pellentesque nec. Suspendisse feugiat, purus non mollis fermentum, magna ligula tristique orci, ac maximus massa ex tincidunt nisl. Nullam elit augue, pharetra vitae orci id, dapibus eleifend orci. Donec posuere vulputate eleifend. Proin nec dolor nisi. Morbi imperdiet elit quis tristique faucibus.</p>
                                            </div>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><strike>實現並啟動<span lang="en">PoS</span>共識機制，作為<span lang="en">PoW</span>的補充，從而建立更強大，更安全的網络</strike></li>
                                            <li><strike>激活匿名支付</strike></li>
                                            <li class="checked">將代碼重新引入最新的比特幣<span lang="en">Core v0.18</span>，實現几個新功能作為錢包備份實用程序，並為將來支持硬件錢包奠定基礎</li>
                                            <li class="checked">新的主節點质押（從<span lang="en">2000</span>減少到<span lang="en">500 VLS</span>）轉換期，以匹配最大的供應量</li>
                                            <li class="checked">進一步改善界面客戶端的內部支持</li>
                                            <li><strike>在主節點自主選擇運行的內測版<span lang="en">dVPN</span>的<span lang="en">dapp</span>，以支持將來的實時測試</strike></li>
                                            <li class="checked">發佈基於瀏覽器的網頁版錢包</li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q3 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">VCIP03 dVPN</span>的整合階段</h1>
                                            <p>更新區塊鏈和網络，為<span lang="en">DIP0002</span>特殊事務提供满足<span lang="en">dVPN</span>服務需求的最佳環境。用於測試和開發的內測版本的<span lang="en">dVPN</span>服務
                                            </p>
                                            <div class="roadmap-delay-info">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                <p> Morbi id hendrerit mauris. In ultrices purus ipsum, a aliquam purus pellentesque nec. Suspendisse feugiat, purus non mollis fermentum, magna ligula tristique orci, ac maximus massa ex tincidunt nisl. Nullam elit augue, pharetra vitae orci id, dapibus eleifend orci. Donec posuere vulputate eleifend. Proin nec dolor nisi. Morbi imperdiet elit quis tristique faucibus.</p>
                                            </div>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><strike>端口<span lang="en">DIP0002</span>特殊事務，以正確的方式開啟在區塊鏈上存儲<span lang="en">VPN</span>訂閱</strike></li>
                                            <li><strike>集成<span lang="en">DIP0003</span>的確定性主節點，可靠的鏈上主節點同步</strike></li>
                                            <li class="checked">開發用於<span lang="en">dVPN</span>連接的<span lang="en">RSA</span>證書的分佈式授權審核</li>
                                            <li><strike>開始在生態系統內開發<span lang="en">DEX</span>（去中心化交易所），以實現代表VPN連接時間的代幣交易，從而提供更好的價值存儲，價格發現和預付費<span lang="en">VPN</span>時間的免費交易</strike></li>
                                            <li class="checked"><span lang="en">VPN</span>的配置、編排、端口重複利用的開發，讓同一端口能運行<span lang="en">Veles</span>的守護服務和<span lang="en">VPN</span>服務</li>
                                            <li class="checked">用於測試和客戶端開發的志願者主節點，配置<span lang="en">dVPN dapp</span></li>
                                            <li class="checked">集成<span lang="en">ElectrumX</span>服務器以供進一步使用</li>
                                            <li class="in-progress">準備私有化，並且激活匿名支付（詳細的測試與調試）</li>
                                            <li class="checked">修復當前發現的錯誤</li>
                                            <li class="in-progress">開始手機錢包<span lang="en">IOS/Android</span>的開發</li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q4 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">dVPN</span>實施階段</h1>
                                            <p>
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked"><span lang="en">pre-alpha dVPN</span>將作為一個配置項在主節點中，節點擁有者可以隨時開放並且測試</li> 
                                            <li><strike><span lang="en">Tier II</span> 主節點實現用作提供多級路由功能的出口節點</strike></li>
                                            <li><strike><span lang="en">IPv6</span>到<span lang="en">IPv4</span>路由層以支持<span lang="en">IPv6</span>出口節點</strike></li>
                                            <li><strike>區塊鏈訂閱管理</strike></li>
                                            <!-- <li>桌面和移動版本集成<span lang="en">VPN</span>的<span lang="en">dVPN</span>客戶端錢包</li> -->
                                            <li>使用志願者節點做<span lang="en">dVPN</span>公開內測版本測試</li>
                                            <li>匿名發送完成</li>
                                            <li>開發<span lang="en">Veles</span>的<span lang="en">Supervisor</span></li>
                                            <li>開始開發安裝<span lang="en">DVPN</span>和<span lang="en">MN</span>的一鍵腳本</li>
                                            <li>修復<span lang="en">Github</span>中<a href="https://github.com/velescore/veles/issues">issues</a>的報告</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="Q1 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">dVPN</span>啟動階段</h1>
                                            <p><strike>過渡期後，所有主節點啟用<span lang="en">dVPN</span>服務</strike></p>
                                            <p><strike>官方網络在第一季度正式推出<span lang="en">dVPN</span>供公眾使用</strike></p>
                                            <p><strike><span lang="en">Veles</span>生態系統中<span lang="en">DEX</span>的公共內測版本></strike></p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><span lang="en">dVPN</span>上線供公眾使用</li>
                                            <li>安裝<span lang="en">DVPN</span>和<span lang="en">MN</span>的一鍵腳本發佈</li>
                                            <li>實現主節點 II 作為退出節點提供多跳路由</li>
                                            <li>主節點運行<span lang="en">dVPN dapp</span>必须要有轉換週期</li>
                                            <li><span lang="en">IPv6</span>到<span lang="en">IPv4</span>路由層以支持<span lang="en">IPv6</span>出口節點</li>
                                            <li>區塊鏈的訂閱管理</li>
                                            <li><strike>公共的<span lang="en">alpha DEX</span>版本發佈，可以交易代表<span lang="en">DVPN</span>使用時間的代幣</strike></li>
                                            <li>手機錢包發佈</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event proposal" data-date="Q2 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">dVPN</span>拓展階段</h1>
                                            <p>使用來自季度一的数據，開發<span lang="en">Proof-Of-Geolocation</span>（地理定位證明），改進<span lang="en">dVPN</span>以實現更好的擴展性
                                            </p>
                                            <p><strike>發佈<span lang="en">Veles DEX</span>公測版</strike></p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><span lang="en">dVPN live</span>公佈</li>
                                            <li>改進和重構<span lang="en">dVPN</span>以實現更好的擴展性</li>
                                            <li>使用季度一的数據研究新的擴展可行性解決方案</li>
                                            <li>開始開發和測試地理定位證明的概念，以便在全球范围內實現更加分佈式和更優质地分發<span lang="en">VLS</span>出口節點</li>
                                            <li>更新路線圖</li>
                                        </div>
                                    </div>
                                </li>


                                <li class="event milestone proposal" data-date="Q3 - Q4 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>引導治理機制階段</h1>
                                            <p>開發分佈式的基礎設施，流程和智能合約，以實現未來社區對項目的治理</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>為<span lang="en">Veles</span>生態系統维護和開發交易所涉及的所有決策過程開發公平且分佈式的治理方式和基礎設施</li>
                                            <li>開始在生態系統中開發<span lang="en">DEX</span>，讓代表<span lang="en">VPN</span>連接時間的代幣能夠交易、免費傳輸，並且提供更好的價值存貯、價格可期性。</li>
                                            <li>探索在<span lang="en">DEX</span>上進行<span lang="en">Hashrate</span>租用標記化和交換的想法，提供關於<span lang="en">Hashrate</span>市場價格的分散數據，供更高級的動態POW獎勵調整使用</li>
                                            <li><span lang="en">Veles DEX</span>和網站界面公開發佈</li> 
                                        </div>
                                    </div>
                                </li>


                                <li class="event proposal" data-date="2020 - 2023">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>社區治理過渡期</h1>
                                            <p>實施並優化治理測試流程</p>
                                            <p><span lang="en">dVPN</span>網络的主要和改進，新功能，集成和理念
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>在<span lang="en">Veles</span>核心團隊的支持下，在實現完全分佈式的組織運作之前，建立時間窗口，對所有治理流程進行優化測試</li>
                                            <li>维護<span lang="en">dVPN</span>網络並實現社區用戶，節點運營商和開發人員建議的新功能，理念，集成或用例</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="2024 - &infin;">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>社區治理的徹底移交</h1>
                                            <p>此時，網络上的所有治理和代碼的開發應该完全由網络參與者，支持者和開發者社區主持的分佈式組織掌握</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><span lang="en">Veles</span>核心團隊的現任成員將继续幫助社區開展<span lang="en">Veles</span>生態系統開發，因為我們热衷於盡自己最大的能力不断改變世界</li>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                       </div>
            </section>

        </div><!-- /#content -->
    </div>
</body>
</html>
