<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="team-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3">團隊情況</h1>
            </div>
            <!-- Intro Content -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 text-center">
                            <img class="img track-in-view left-slide-in img-team-about" src="images/team/community-official.png" alt="">
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <h2>關於我們</h2>
                            <p>
                              <span lang="en">Veles</span>是一種技術，但它又不僅僅只由代碼和複雜的算法構成。它更是一個社區。一個有機增長的獨立網络，由一系列核心原則，信念，願景和想法匯聚而成，共同合作開發<span lang="en">Veles</span>。我們的成員有的是專業開發者，白帽黑客，社區運營高手，網络開發天才等等，我們為<span lang="en">Veles</span>輸入能量，資源，才華和理想。對了，通常在加密技術領域，人们不用自己的真名，而是用暱稱。
                            </p>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><h2>我們的隊伍</h2></div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/baggins.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">Altcoinbaggins</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">創始人，首席開發者</h6>
                                    <p class="card-text">“擁有<span lang="en">20</span>年經驗的編程人員，白帽黑客和區塊鏈极客。熟練使用網络技術，<span lang="en">C/C++，python，SQL</span>等等”</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/altcoinbaggins"><span lang="en">Altcoinbaggins</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/mdfkbtc.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">Mdfkbtc</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">創始人，開發者</h6>
                                    <p class="card-text">“在<span lang="en">Veles</span>擔任支持/管理/社區管理員/項目經理，兼職開發。擅長<span lang="en">Linux，c ++</span>和其他常用語言。”</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/mdfkbtc"><span lang="en">Mdfkbtc</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">Uhlik</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">開發者</h6>
                                    <p class="card-text">“<span lang="en">Veles</span>程序員。擁有<span lang="en">30</span>年經驗的專業程序員，<span lang="en">x86 CPU</span>架構，操作系統和虚擬化方面技術突出（微軟<span lang="en">Hyper-V</span>認證專家）。掌握區塊鏈技術。”</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/uhliksk"><span lang="en">Uhliksk</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">Virtuado</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">社區主要測試人員，支持人員</h6>
                                    <p class="card-text">"“作為主要測試人員，尋找<span lang="en">BUG</span>和主持社區工作。曾任系統管理員，現在是交易員。因為兴趣而接觸到加密領域，後來成為業余爱好，現在加入<span lang="en">Veles</span>項目，並堅信<span lang="en">Veles</span>項目將會取得成功。“</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/virtuado"><span lang="en">Virtuado</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/maty.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">Maty</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">圖形設計師</h6>
                                    <p class="card-text">"<span lang="en">Veles</span>的圖形設計師"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#"><span lang="en">Maty</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">xCrypto</h4></span>
                                    <h6 class="card-subtitle mb-2 text-muted">社區管理者</h6>
                                    <p class="card-text">"我很樂意盡我所能協助<span lang="en">Veles</span>項目。 我堅信，<span lang="en">Veles</span>的願景是區塊鏈技術最創新的用途之一。 我在<span lang="en">Veles</span>擔任社區管理員，社交媒體負責人並提供其他支持。"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/xCryptoCash"><span lang="en">xCrypto</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/alexDeLarge.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">AlexDeLarge</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">社區人員 ,支持人員</h6>
                                    <p class="card-text">"在维列斯<span lang="en">（Veles）</span>，主要進行社區協調/支持工作。具備一定的<span lang="en">web</span>開發技術<span lang="en">（JavaScript-PHP)</span>。在人工智能研究（獲計算機科学博士学位) 和邏輯式應用開發<span lang="en">(ProLog, Argumentation，DataLog)</span> 方面具備強大背景。起初出於兴趣進入加密貨幣行業，而後變得由衷热爱。突然間，我意識到我想做什麼而且必须做什麼......<span lang="en">Alex</span>"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/roman-1905"><span lang="en">AlexDeLarge</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/clover.jpeg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">Clover</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">中文社區成員 ,開發者</h6>
                                    <p class="card-text">"一名中文開發人員，熟練使用PHP、PYTHON，現在為Veles網站做開發工作，並且活躍Veles的中文社區。"</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/qw576483"><span lang="en">Clover</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 text-center">
                                <img class="card-img-top img-team" src="images/team/man.ico" alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><span lang="en">Team Member</span></h4>
                                    <h6 class="card-subtitle mb-2 text-muted">虚位以待</h6>
                                    <p class="card-text">職位開放</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#">虚位以待</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>
        </div><!-- /.container -->
    </div><!-- /#content -->
</body>
</html>
