<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="coin-specs-page">
            <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3">代币规则</h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="mb-4" role="tablist" aria-multiselectable="true">
                                <div class="card card-coin-specs">
                                    <div class="card-header"><h5>一般规则 :</h5></div>
                                    <div class="card-body" id="card-body-1">
                                        <p>最大供应量 :<b class="text-orange"><span lang="en"> 2 500 000 VLS</span></b></p>
                                        <p>区块时间 :<b class="text-orange"><span lang="en"> 2 minutes</span></b></p>
                                        <p>预挖兑换 :<b class="text-orange"><span lang="en"> 50000 VLS</span></b></p>
                                        <p>主节点质押数量 :<b class="text-orange"><span lang="en"> 2000 VLS</span></b></p>
                                        <p>目前支持 :<b class="text-orange"><span lang="en"> Lyra2z, X11, X16R, Sha256d, Scrypt, Nist5</span></b></p>
                                        <p>激活独有的开发者地址 :<b class="text-orange"><span lang="en"> VKtig9w7wfx6Ep9B4NnbwxLj1bkY2kHXBj</span></b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="mb-4" role="tablist" aria-multiselectable="true">
                                <div class="card card-coin-specs">
                                    <div class="card-header"><h5>奖励系统 :</h5></div>
                                    <div class="card-body" id="card-body-1">
                                        <p>最大区块奖励 :<b class="text-orange"><span lang="en"> 5 VLS</b></span></p>
                                        <p>起码区块奖励 :<b class="text-orange"><span lang="en"> 0.01 VLS</b></span></p>
                                        <p>主节点区块奖励部分 :<span lang="en"><b class="masternodes-reward-percent text-orange">0</b> %</span></p>
                                        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                           <div class="card card-coin-specs">
                                               <div role="tab" id="headingOne">
                                                   <h5 class="h5-resources">
                                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">动态奖励系统解释
                                                       </a>
                                                   </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse coin-specs-collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-body" id="card-body-1">
                                                        <p>采矿报酬 :</p>
                                                        <p>动态区块奖励会根据每个算法的哈希值单独计算。例如：如果 <span lang="en">X11</span> 算法为 <span lang="en">200GH/S</span>，而 <span lang="en">Scrypt</span> 为
                                                           <span lang="en">5MH/S</span>，则 <span lang="en">X11</span> 算法中的出块奖励为大约 <span lang="en">0.2 VLS</span>，而 <span lang="en">Scrypt</span> 的出块奖励为 <span lang="en">0.003 VLS</span>。因此，不
                                                           可能出现单一算法获得大量出块奖励的情况。</p>
                                                        <hr>
                                                        <p>主节点区块奖励部分 :</p>
                                                        <p>5年内从<span lang="en">5％</span>增加至<span lang="en">60％</span>。</p>
                                                        <hr>
                                                        <p>发展报酬 :</p>
                                                        <p>5年内的<span lang="en">5％</span>递减至<span lang="en">0％</span>。</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="mb-4" role="tablist" aria-multiselectable="true">
                                <div class="card card-coin-specs">
                                    <div class="card-header"><h5>减半系统 :</h5></div>
                                    <div class="card-body" id="card-body-1">
                                        <p>区块奖励下一次减半检查 :<b class="chain-pow-blocks-to-next-epoch text-orange"> 0</b> 块</p>
                                        <p>首批供应量达到最小 :<span lang="en"> 80%</span>供应的<b class="chain-pow-supply-target-reached text-orange">0</b></p>
                                        <p> <span lang="en">Veles</span>有独特设计的动态非线性减半机制。以下是功能和用法说明。您可以使用<span lang="en">rpc</span>命令<span lang="en">“gethalvingstatus”</span>检查<span lang="en">Veles</span>减半状态。</p>
                                        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="card card-coin-specs">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">动态非线性减半系统解释
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse coin-specs-collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-body" id="card-body-1">
                                                    <span lang="en">
                                                        <p> - * as a first coin * Veles introduce dynamic non-linear halving period - the halving interval will double each time another halving occurs, creating smoother supply curve. Each halving might by automatically delayed  by another length of halving interval if not enough VLS has been mined since the last halving (we have implemented this measure to mitigate some disadvantages of multi-algo dynamic rewards, where less coins are mined if the hashrate is low, to ensure the real supply curve will stay as close as possible to  theoretical model). We have included new RPC command to get the information on the current and past halving periods, current maximum block reward, number of halvings occured, the current halving interval, etc...</p>
                                                      <p><b>Example of gethalvingstatus :</b>
                                                          <br> {
                                                          <br> "halvings_occured": 1,
                                                          <br> "epochs_occured": 5,
                                                          <br> "halving_interval": 4000,
                                                          <br> "blocks_to_next_epoch": 1579,
                                                          <br> "epoch_supply_target_reached": "14%",
                                                          <br> "min_epoch_supply_to_halve": "80%",
                                                          <br> }
                                                          <br>
                                                          <hr>
                                                          <p><a> It starts with the most basic information, this one here says, that the next block reward halving is supposed to occur in 1579 blocks from now, but most likely it won't occur, as we've mined only 14% from required 80% of maximum theoretical block reward since the last halving (because of the dynamic block reward that depends on the hashrate - number of workers).
                      And If the halving doesn't occur, it will be delayed another 4000 blocks. But the dynamic block rewards will actually increase (instead of being halved), so that we'll reach our target (of coins to be mined till next halving) sooner and won't be delaying the halving unnecessarily for too long, even when the hashrate is lower than ideal. More specific info on this sort of "boost" of dynamic block rewards can be seen in next example.
                      ... the output then contains info on all the 5 "halving epochs".</a></p>
                                                          <hr> "epochs": [
                                                          <br> {
                                                          <br> "epoch_name": "ALPHA",
                                                          <br> "started_by_halving": false,
                                                          <br> "start_block": 50000,
                                                          <br> "end_block": 51999,
                                                          <br> "max_block_reward": 80.00000000,
                                                          <br> "dynamic_rewards_boost": false,
                                                          <br> "start_supply": 71864.16989983,
                                                          <br> "end_supply": 154133.54077063,
                                                          <br> "supply_target": 160000.00000000,
                                                          <br> "supply_this_epoch": 82269.37087080,
                                                          <br> "supply_since_halving": 82269.37087080,
                                                          <br> "supply_target_reached": "51%" //<b>80% not reached, halving delayed</b>
                                                          <br> },
                                                          <br> {
                                                          <br> "epoch_name": "ALPHA_H0_E1",
                                                          <br> "started_by_halving": false,
                                                          <br> "start_block": 52000,
                                                          <br> "end_block": 53999,
                                                          <br> "max_block_reward": 80.00000000,
                                                          <br> "dynamic_rewards_boost": "+50%", //<b>the reward adjustment kicked in</b>
                                                          <br> "start_supply": 154133.54077063,
                                                          <br> "end_supply": 273041.50588623,
                                                          <br> "supply_target": 160000.00000000,
                                                          <br> "supply_this_epoch": 118907.96511560,
                                                          <br> "supply_since_halving": 201177.33598640,
                                                          <br> "supply_target_reached": "125%"
                                                          <br> },
                                                          <br> {
                                                          <br> "epoch_name": "ALPHA_H1_E0",
                                                          <br> "started_by_halving": true, //<b>successful halving</b>
                                                          <br> "start_block": 54000,
                                                          <br> "end_block": 57999,
                                                          <br> "max_block_reward": 40.00000000,
                                                          <br> "dynamic_rewards_boost": false,
                                                          <br> "start_supply": 273041.50588623,
                                                          <br> "end_supply": false,
                                                          <br> "supply_target": 160000.00000000,
                                                          <br> "supply_this_epoch": 23011.73077920,
                                                          <br> "supply_since_halving": 23011.73077920,
                                                          <br> "supply_target_reached": "14%"
                                                          <br> }
                                                          <br>
                                                          <hr>
                                                      </p>
                                                        <p><a> Here we can see, for example, that at the block 52k halving has not occurred because there were only 51% of the target amount of VLS mined, from required 80%. The maximum block reward was 80 VLS.</a></p>
                                                        <p><a> So the halving was delayed by another 2k blocks and this constitutes another halving epoch (APLHA_H0_E1), where the max_block_reward remains 80 VLS, but the dynamic_rewards_boost kicks in and increases dynamic blocks rewards by 50% (but always within the range of maximum block reward of 80 VLS).
                        Thanks to this mechanism we can see that at the and of this epoch the initial target was actually fulfilled by 125% (as the time has increased too, those extra %  are just fine)</a></p>
                                                        <p><a> As the target was met, the third section shows that the block rewards were successfully halved at the block 54k to 40 VLS and dynamic_rewards_boost turned off, next check and readjustments will happen with the start of another epoch at the block 58k.</a></p>
                                                      </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /#content -->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="footer-wrapper">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="js/apploader.js"></script>
    </div>
</body>
</html>
