<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="mobile-menu-overlay">
        <div class="overlay-shadow">
            <div class="mobile-menu-under container"></div>
            <div class="mobile-menu-under2 container"></div>
        </div>
    </div>
    <div id="content-wrapper">
        <div id="content" class="vpn-page">
            <header>
                <div class="movething">
                    <div class="row row-wide">
                        <div class="col-lg-12">
                            <div id="large-header" class="header">
                                <div id="under-canvas" class="parallax-content">
                                    <!-- <ul id="debug-area" class="parallax-content2"></ul> -->
                                </div>
                                <canvas id="canvas"></canvas>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h1 class="main-title"><span class="thin">Pre-alpha DVPN</span></h1>
                                            <h1 class="main-subtitle vpn-main-subtitle"><span class="thin">发布倒计时</span> </h1>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="main-subtitle countdown-main-subtitle" id="clockdiv">
                                                <div>
                                                <span class="clock-time" id="days"></span>
                                                <div class="countdown-text">天</div>
                                                </div>
                                                <div>
                                                <span class="clock-time" id="hours"></span>
                                                <div class="countdown-text">时</div>
                                                </div>
                                                <div>
                                                <span class="clock-time" id="minutes"></span>
                                                <div class="countdown-text">分</div>
                                                </div>
                                                <div>
                                                <span class="clock-time" id="seconds"></span>
                                                <div class="countdown-text">秒</div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="dvpn-launch">
                <div class="container">
                    <div class="row" >
                        <div class="col-lg-4 text-center wide-screen">
                            <img class="img track-in-view left-slide-in" id="img-introduction" src="images/veles-official.png" alt="Veles Introduction">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Pre-alpha DVPN 发布</h2>
                            <p class="my-6">
                                Veles 团队正将于12月1日推出 pre-alpha dVPN服务。pre-alpha DVPN的早期公开测试基于Veles开发者服务器上托管运行，并且没有使用费用。更多信息敬请期待！
                            </p>
                            <img class="img-narrow-screen" id="img-introduction" src="images/veles-official.png" alt="Veles Introduction">
                        </div>
                    </div>
                </div>
            </section>
<!--
            <section id="join-testing">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <h2>Join pre-alpha testing</h2>
                            <p class="my-6">
                            Nunc vitae leo dictum, facilisis tortor viverra, malesuada purus. Fusce sodales auctor elit. Cras id tempor tellus.
                            <br />Donec lacinia, mi id mollis interdum, erat est egestas justo, vel condimentum odio enim ut enim. Vivamus arcu leo, suscipit in purus nec, tempor lacinia nunc. Curabitur vestibulum, justo hendrerit blandit pellentesque, nunc arcu viverra dolor, nec semper orci mauris quis massa.
                            </p>
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-4 text-center wide-screen">
                            <img class="img track-in-view right-slide-in" id="img-debug" src="images/debug.png" alt="Join testing">
                        </div>
                        <img class="img-narrow-screen" id="img-debug" src="images/debug.png" alt="Join testing">
                    </div>
                </div>
            </section> 
        -->
        </div>
    </div>
</body>
</html>
