<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="mobile-menu-overlay">
        <div class="overlay-shadow">
            <div class="mobile-menu-under container"></div>
            <div class="mobile-menu-under2 container"></div>
        </div>
    </div>
    <div id="content-wrapper">
        <div id="content" class="dvpn-page">
            <header>
                <div class="movething">
                    <div class="row row-wide">
                        <div class="col-lg-12">
                            <div id="large-header" class="header">
                                <div id="under-canvas" class="parallax-content">
                                    <!-- <ul id="debug-area" class="parallax-content2"></ul> -->
                                </div>
                                <canvas id="canvas"></canvas>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h1 class="main-title"><span class="thin" lang="en">Pre-alpha DVPN</span></h1>
                                            <h1 class="main-subtitle vpn-main-subtitle">
                                                <span class="thin">
                                                    开始使用<span lang="en">dVPN</span>
                                                </span>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="dvpn-上线">
                <div class="container">
                    <div class="row" >
                        <div class="col-lg-4 text-center wide-screen">
                            <img class="img track-in-view left-slide-in" id="img-introduction" src="images/veles-official.png" alt="Veles Introduction">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2><span lang="en">Veles dVPN</span> 公测</h2>
                            <p class="my-6">
                                免费的公共<span lang="en">alpha</span>测试已经开始，并且第一个完全支持<span lang="en">dVPN</span>的<span lang="en">masternode</span>已经开始运行了。每个人都可以加入这个测试阶段，免费使用<span lang="en">dVPN</span>服务，或者运行自己支持<span lang="en">dVPN</span>的<span lang="en">Veles Masternode</span>。这次公开测试中收集的基准数据将有助于我们改进<span lang="en">Veles dVPN</span>，以便将来投产。<br/>
                            </p>
                            <img class="img-narrow-screen" id="img-introduction" src="images/veles-official.png" alt="Veles Introduction">
                        </div>
                    </div>
                </div>
            </section>

            <section id="下载配置">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <h2>现在开始免费测试<span lang="en">Veles dVPN</span></h2>
                                <p> 下载配置文件（由随机的<span lang="en">Masternode</span>生成），从<span lang="en">dVPN</span>菜单中选择平台指南<br /><br />
                                    <a href="https://explorer.veles.network/dapi/getOpenVPNConfig"><span lang="en">OpenVPN</span> 配置</a><br />
                                    <a href="https://explorer.veles.network/dapi/getOpenVPNShieldedConfig"><span lang="en">OpenVPN</span> 配置 [<span lang="en">stunnel shielded</span>]</a><br />
                                    <a href="https://explorer.veles.network/dapi/getStunnelConfig"><span lang="en">Stunnel</span> 配置</a><br />
                                    <a href="https://explorer.veles.network/dapi/getStunnelCertificate"><span lang="en">Stunnel</span> 证书</a><br />
                                    <br />
                                    如果使用<span lang="en">OpenVPN</span>方法连接有困难，
                                    例如由于防火墙过于严格，使用<span lang="en">OpenVPN + stunnel</span>。
                                </p>
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-4 text-center wide-screen">
                            <img class="img track-in-view right-slide-in" id="img-debug" src="images/debug.png" alt="Join testing">
                        </div>
                        <img class="img-narrow-screen" id="img-debug" src="images/debug.png" alt="Join testing">
                    </div>
                </div>
            </section> 

        </div>
    </div>
</body>
</html>
