<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="faq-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span>常见问题</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row row-faq">
                    <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="mb-4" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header"><h5>常见问题 :</h5></div>
                                        <div class="card-body" id="card-body-1">
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><span lang="en">#1</span> 什么是<span lang="en">Veles？</span></a>
                                      </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-body" id="card-body-1">
                                                      <span lang="en">Veles</span>是一个旨在实现分布式<span lang="en">VPN</span>的共识网络。 它的生态系统也是一个仅由用户角色构成的分布式点对点支付网络。从用户的角度来看，<span lang="en">Veles</span>非常像互联网的现金。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span lang="en">#2</span> 谁控制着<span lang="en">Veles</span>网络?
                                          </a>
                                        </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="card-body" id="card-body-faq">
                                                        没有人拥有<span lang="en">Veles</span>网络。<span lang="en">Veles</span>由全球所有<span lang="en">Veles</span>用户控制。虽然开发人员一直在改进软件，但他们无法凭自己改变<span lang="en">Veles</span>协议，因为所有用户都可以自由选择他们使用的软件和版本。为了保持彼此兼容，所有用户都需要使用符合相同规则的软件版本。<span lang="en">Veles</span>只能在所有用户之间达成完全一致的情况下正常工作。 因此，所有用户和开发人员都会自觉来保护这种共识。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span lang="en">#3 Veles</span>网络怎么工作?</a>
                                        </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                        从用户的角度来看，<span lang="en">Veles</span>只不过是一款手机或<span lang="en">PC</span>程序，提供个人<span lang="en">Veles</span>钱包，并允许用户之间发送和接收<span lang="en">VLS</span>。这就是<span lang="en">Veles</span>对于大多数人而言的工作方式。 而在后台，<span lang="en">Veles</span>网络是基于区块链的分布式账本体系。该账本包含每笔处理过的交易，允许用户的计算机验证每笔交易的有效性。每笔交易的真实性受到与发送地址相对应的数字签名验证，允许所有用户完全从他们自己控制的
                                                        <span lang="en">Veles<span>地址发送<span lang="en">VLS</span>。此外，任何人都可以使用专用硬件的算力处理交易，并获得<span lang="en">VLS</span>奖励。这通常被称为“挖矿”。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span lang="en">#4 Veles</span>什么时候创立的?</a>
                                        </h5>
                                                </div>
                                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                        主网在<span lang="en">2018</span>年<span lang="en">11</span>月<span lang="en">6</span>日<span lang="en">15</span>点<span lang="en">22</span>分<span lang="en">08</span>秒启动
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span lang="en">#5 Veles</span>是一家私营公司吗?它是如何融资的?</a>
                                        </h5>
                                                </div>
                                                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                        不，它是<span lang="en">100％</span>的开源软件社区，而不是通过<span lang="en">ICO</span>或预挖融资的私人公司。我们相信，将会有数千名志愿者社区成员将支持开发和营销工作。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><span lang="en">#6</span> 我怎样获得<span lang="en">Veles？</span></a>
                                        </h5>
                                                </div>
                                                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                        有几种不同的方式可以获得<span lang="en">Veles</span>代币。最常见的方式是在交易所购买。 另外还可以通过参与挖矿来获得奖励。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"><span lang="en">#7 Veles</span>有没有预挖?</a>
                                        </h5>
                                                </div>
                                                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                        <span lang="en">Veles</span>过去是有预挖的。但所有预挖的代币，都给早期的测试人员兑换了。开发团队和贡献者像其他人一样在交易市场上购买代币。预挖是一种融资机制，即货币的供应商在将其发布给公众之前自己预先持有一定数量。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseSeven"><span lang="en">#8</span> 什么是预挖兑换?</a>
                                        </h5>
                                                </div>
                                                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                        预挖为<span lang="en">50000VLS</span>，为在<span lang="en">2018</span>年<span lang="en">11</span>月参与测试网运行的早期参与者提供奖励。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseEight"><span lang="en">#9 Veles</span>的愿景是什么？</a>
                                        </h5>
                                                </div>
                                                <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                        <span lang="en">Veles</span>旨在成为一个完全分布式的，基于点对点和无中心服务器的节点网络，旨在通过向节点运营商提供经济激励，为用户提供隐私保护技术。<span lang="en">Veles</span>通过整合已有的技术实现这一目标，例如，区块链和主节点。当<span lang="en">Veles</span>网络开发完并发布后，它将保护用户的隐私和数据，同时使所有用户能够与需要的人共享他们的备用带宽访问权限，以换取经济补偿。<span lang="en">Veles</span>网络提供的<span lang="en">VPN</span>服务将与现有的集中式<span lang="en">VPN</span>服务相媲美，甚至可以改进。<span lang="en">Veles</span>市场模型将创建具有竞争力且几乎可无限扩展的<span lang="en">VPN</span>服务，使其他实体可以选择从<span lang="en">Veles</span>网络购买<span lang="en">VPN</span>服务，并将其集成到他们的解决方案中。这种竞争力来自于网络的开放性，任何人都可以通过加入<span lang="en">VPN</span>服务提供商而轻松赚钱。并通过将区块链交易引入日常生活来赋予全世界人民权力。<span lang="en">Veles</span>货币使得普通用户可以快速，有效和私密地进行直接交易。通过<span lang="en">Veles</span>货币，企业和个人可以灵活地选择发送和接收付款。通过切换开关，我们提供有用的集成和工具，使他们能够处理商家和小规模私人用户之间的大规模支付交易。
                                                    </div>
                                                </div>
                                            </div>
                                          <!--  <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"></a>
                                        </h5>
                                                </div>
                                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"></a>
                                        </h5>
                                                </div>
                                                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                </div>
                                            </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"></a>
                                        </h5>
                                                </div>
                                                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"></a>
                                        </h5>
                                                </div>
                                                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="h5-resources" class="mb-0">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight"></a>
                                        </h5>
                                                </div>
                                                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-body" id="card-body-faq">
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /#content -->
            </section>
        </div>
    </div>
</body>
</html>
