<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="ios-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey"><span lang="en">iOS</span> </span><span lang="en">dVPN</span> </span>教程</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/mac-wallet.png" alt="iOS Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>安装</h2>
                            <p class="my-6">
                                从<span lang="en">App Store</span>中，搜索并安装正式的<span lang="en">OpenVPN</span>客户端应用<b><span lang="en">OpenVPN Connect</span></b>。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-dvpn-download.png">
                            <p class="my-6">
                                下载 <a href="https://explorer.veles.network/dapi/getOpenVPNConfig"> <b>配置</b></a> 文件 ，并通过<b>复制到<span lang="en">OpenVPN</span></b>来打开<span lang="en">OpenVPN Connect</span>。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-open-config.png">
                            <p class="my-6">
                                点击<b>添加（<span lang="en">Add</span>）</b>将配置文件导入
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-import-config.png">
                            <p class="my-6">
                                然后应该看到<b>配置导入成功<span lang="en">“Profile successfully imported”</span></b>，现在只需把<b>配置添加到您的<span lang="en">OpenVPN</span>连接。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-add-profile.png">
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>连接</h2>
                            <p class="my-6">
                                <span lang="en">OpenVPN</span>现在可以与新的配置文件一起使用了。将连接按钮滑动到<b>开</b>位置，开始连接。通过将同一按钮滑动到关闭位置，断开连接。
                            </p>
                            <img class="img-dvpn-ios track-in-view-ios track-in-view left-slide-in text-center" src="images/dvpn-guide/ios/ios-connect-vpn.png">
                            <div class="dvpn-guide-note">
                                <p><i class="fa fa-info-circle" aria-hidden="true"></i>无法使用<b>设置</b>下的连接到VPN。如果您尝试，您将会收到通知，只使用<span lang="en">OpenVPN</span>应用连接。
                            </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>测试您的<span lang="en">VPN</span>连接</h2>
                            <p class="my-6">
                                一旦所有的东西都安装好了，只需要一个简单的检查就可以确认他是否运作。在未启用<span lang="en">VPN</span>连接的情况下，打开浏览器并转到 <a href="https://www.dnsleaktest.com/"><span lang="en">DNSLeakTest</span></a>。</br>
                                该站点将返回由您的网络服务提供商分配的<span lang="en">IP</span>地址，以及您在世界其他地方显示的<span lang="en">IP</span>地址。若要通过同一网站检查您的<span lang="en">DNS</span>设置，请单击<b>扩展测试（<span lang="en">Extended Test</span>）</b>，它会告诉您正在使用的<span lang="en">DNS</span>服务器。<br>
                                现在，连接到您的<span lang="en">VPN</span>客户端并刷新浏览器，应该会显示与您的<span lang="en">VPN</span>服务器的完全不同的<span lang="en">IP</span>地址。然后再次进行<b>扩展测试（<span lang="en">Extended Test</span>）</b>检查您的<span lang="en">DNS</span>设置，并确认您正在使用<span lang="en">Veles dVPN</span>推送的<span lang="en">DNS</span>解析。
                            </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>