<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="Linux-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey"><span lang="en">Linux</span> </span><span lang="en">dVPN</span> </span>Guide</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/linux-wallet.png" alt="Linux Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>安装</h2>
                            <p class="my-6">
                                如果您使用的是<span lang="en">Linux</span>，根据您的发行版，可以使用多种工具。
                                当然，最普遍的连接方式是使用<span lang="en">OpenVPN</span>软件。
                                <br />
                            </p>
                            <p class="my-6">
                                在<span lang="en">Ubuntu</span>或<span lang="en">Debian</span>上，您可以使用这样的命令
                                <br/>
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>sudo apt-get update</code></li>
                                    <li><code>sudo apt-get install openvpn</code></li>
                                </ul>
                            </div>
                             <p class="my-6">
                                在<span lang="en">CentOS</span>上，您可以启用<span lang="en">EPEL</span>存储库，然后通过以下命令安装：
                                <br/>
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>sudo yum install epel-release</code></li>
                                    <li><code>sudo yum install openvpn</code></li>
                                </ul>
                            </div>
                        <br />
                            <h2>配置</h2>
                            <p class="my-6">
                                下载<span lang="en">Veles</span>配置文件并输入以下内容移动到其存储库：
                                <br />
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>wget https://explorer.veles.network/dapi/getOpenVPNConfig</code></li>
                                    <li><code>sudo mv /etc/openvpn/client/veles.ovpn</code></li>
                                </ul>
                            </div>
                            <p class="my-6">
                                <br />
                                防止<span lang="en">DNS</span>泄漏，请使用此命令（本例中使用的<span lang="en">IP</span>仅作为示例，需要替换为新主节点列表中的<span lang="en">IP</span>）
                                <br />
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>echo -e "#Veles decentralized DNS\nnameserver 111.111.111.111"</code></li>
                                </ul>
                            </div>
                        </br>
                            <p class="my-6">
                                <b>对于<span lang="en">GUI</span>用户，请遵循以下步骤。</b>
                                </br>
                                首先用鼠标右键单击网络管理器图标，然后单击<b>编辑连接</b>
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/linux/edit-connections.png">
                            <p class="my-6">
                                现在，我们将点击<b>“+”</b>符号添加新连接
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/linux/add-new-connection.png">
                            <p class="my-6">
                                我们将选择<b>“导入保存的配置文件...”</b>导入我们的配置
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/linux/import-vpn-config.png">
                            <p class="my-6">
                                现在找到我们的配置位置，在我们的例子中，它是在<code><span lang="en">/etc/openvpn/client/</span></code>并选择<code><span lang="en">veles.ovpn</span></code>
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/linux/select-vpn-config.png">
                            <p class="my-6">
                                您不需要干其他事情了，它会自动为您创建<span lang="en">Veles VPN</span>配置文件，您只需按<b>“保存”</b>
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/linux/save-vpn-config.png">
                        <br />
                            <h2>连接</h2>
                            <p class="my-6">
                                <b>对于<span lang="en">CLI</span>用户，请遵循以下步骤。</b>
                                <br />
                                现在，只需将<span lang="en">openvpn</span>指向配置文件，就可以连接到<span lang="en">VPN</span>：
                                <br />
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>sudo openvpn --config /etc/openvpn/client/veles.ovpn</code></li>
                                </ul>
                            </div>
                        <br />
                            <p class="my-6">
                                <b>对于<span lang="en">GUI</span>用户，请遵循以下步骤。</b>
                                <br />
                                用鼠标右键单击网络管理器的图标打开它。在这里您将看到<b>“VPN连接”</b>。点击它。标记“<span lang="en">veles</span>”并享受您的连接！
                            </p>
                            <img class="img-dvpn-guide track-in-view left-slide-in" src="images/dvpn-guide/linux/connect-to-vpn.png">
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section id="stunnel-guide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Installing Stunnel</h2>
                            <p class="my-6">
                                This explains the process of installing Stunnel as a client in Linux.
                                <br />
                            </p>
                            <p class="my-6">
                                On Ubuntu or Debian, you can install it just as you did on the server by typing:
                                <br/>
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>sudo apt-get install stunnel</code></li>
                                </ul>
                            </div>
                             <p class="my-6">
                                On CentOS you can install Stunnel by typing:
                                <br/>
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>yum install stunnel</code></li>
                                </ul>
                            </div>
                        <br />
                            <h2>Configuring Stunnel</h2>
                            <p class="my-6">
                                Download Veles Stunnel configuration files and move to it's repositories by typing:
                                <br />
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>wget https://explorer.veles.network/dapi/getStunnelConfig</code></li>
                                    <li><code>wget https://explorer.veles.network/dapi/getStunnelCertificate</code></li>
                                    <li><code>wget https://explorer.veles.network/dapi/getShieldedOpenVPNConfig</code></li>
                                    <li><code>sudo mv shielded-veles.ovpn /etc/openvpn/client/</code></li>
                                    <li><code>sudo mv veles.stunnel.conf /etc/stunnel/stunnel.conf</code></li>
                                    <li><code>sudo mv stunnel.pem /etc/stunnel/</code></li>
                                </ul>
                            </div>
                        <br />
                            <h2>Connecting OpenVPN Client with Stunnel</h2>
                            <p class="my-6">
                                <b>For CLI Users follow this steps.</b>
                                <br />
                                Now, you can connect to the VPN trough Stunnel by just turning on Stunnel and pointing the OpenVPN command to the client configuration file:
                                <br />
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>sudo stunnel</code>
                                    <li><code>sudo openvpn --config /etc/openvpn/client/veles-shield.ovpn</code></li>
                                </ul>
                            </div>
                        <br />
                            <p class="my-6">
                                <b>For GUI Users follow this steps.</b>
                                <br />
                                Follow steps from OpenVPN guide and import <code>veles-shield.ovpn</code> and don't forget turn on <b>Stunnel</b>
                            </p>
                            <div class="col-lg-2">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="obfsproxy-guide">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>Installing Obfuscation Proxy</h2>
                            <p class="my-6">
                                This explains the process of installing ObfsProxy as a client in Linux.
                                <br />
                            </p>
                            <p class="my-6">
                                On Ubuntu or Debian, you can install it just as you did on the server by typing:
                                <br/>
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>sudo apt-get install obfsproxy</code></li>
                                </ul>
                            </div>
                       <br />
                            <h2>Configuring Stunnel</h2>
                            <p class="my-6">
                                Download Veles configuration files and move to it's repositories by typing:
                                <br />
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>wget https://explorer.veles.network/dapi/getShieldedOpenVPNConfig</code></li>
                                    <li><code>sudo mv shielded-veles.ovpn /etc/openvpn/client/</code></li>
                                </ul>
                            </div>
                        <br />
                            <h2>Connecting OpenVPN Client with ObfsProxy</h2>
                            <p class="my-6">
                                <b>For CLI Users follow this steps.</b>
                                <br />
                                Now, you can connect to the VPN by just turning on ObfsProxy and pointing the OpenVPN command to the client configuration file:
                                <br />
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code>sudo obfsproxy scramblesuit --dest 80.211.132.243:21343 --password=SSSTIZ3LG5SSS43OMSSSM4LKGQFASSSS client 127.0.0.1:21337</code>
                                    <li><code>sudo openvpn --config /etc/openvpn/client/veles-shield.ovpn</code></li>
                                </ul>
                            </div>
                            <div class="dvpn-guide-note">
                                <p><i class="fa fa-info-circle" aria-hidden="true"></i> We will use this password only in pre-alpha testing phase. In futer there will be used random value.</p>
                            </div>
                        <br />
                            <p class="my-6">
                                <b>For GUI Users follow this steps.</b>
                                <br />
                                Follow steps from OpenVPN guide and import <code>veles-shield.ovpn</code> and don't forget turn on <b>ObfsProxy</b>
                            </p>   
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section id="testing-connection">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>测试您的<span lang="en">VPN</span>连接</h2>
                            <p class="my-6">
                                一旦所有的东西都安装好了，只需要一个简单的检查就可以确认他是否运作。在未启用<span lang="en">VPN</span>连接的情况下，打开浏览器并转到 <a href="https://www.dnsleaktest.com/"><span lang="en">DNSLeakTest</span></a>。</br>
                                该站点将返回由您的网络服务提供商分配的<span lang="en">IP</span>地址，以及您在世界其他地方显示的<span lang="en">IP</span>地址。若要通过同一网站检查您的<span lang="en">DNS</span>设置，请单击<b>扩展测试（<span lang="en">Extended Test</span>）</b>，它会告诉您正在使用的<span lang="en">DNS</span>服务器。<br>
                                现在，连接到您的<span lang="en">VPN</span>客户端并刷新浏览器，应该会显示与您的<span lang="en">VPN</span>服务器的完全不同的<span lang="en">IP</span>地址。然后再次进行<b>扩展测试（<span lang="en">Extended Test</span>）</b>检查您的<span lang="en">DNS</span>设置，并确认您正在使用<span lang="en">Veles dVPN</span>推送的<span lang="en">DNS</span>解析。
                            </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>