<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <div id="content" class="roadmap-page">
            <div class="container">
                <h1 class="mt-4 mb-3">路线图</h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="timeline track-in-view right-slide">
                                <li class="event milestone" data-date="Q4 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>网络启动阶段</h1>
                                            <p>启动项目公测</p>
                                        </div>
                                        <div class="split-right">
                                            <ul>
                                                <li class="checked">启动原始网络</li>
                                                <li class="checked">首次发布<a href="https://github.com/velescore/veles-legacy-r1"><span lang="en">Veles Core R1</span></a>代码</li>
                                                <li class="checked">重构并发布<a href="https://github.com/velescore/veles-legacy-r2"><span lang="en">Veles Core R2</span></a>完整代码</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Nov 2018">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>启动成熟网络</h3>
                                            <p>正式启动当前成熟网络的主网</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                                <li class="checked">基于比特币<span lang="en">Core v0.17</span>重构<a href="https://github.com/velescore/veles-legacy-r3"><span lang="en">Veles Core R3</span></a>的完整代码，并支持多算法和主节点的<span lang="en">FXTC</span></li>
                                                <li class="checked">为早期实践者提供<span lang="en">50000 VLS</span>的代币兑换奖励</li>
                                                <li class="checked">销毁原始预挖部分</li>
                                                <li class="checked">直到<span lang="en">VCIP01</span>完成阶段的最小区块奖励</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event milestone" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">VCIP01 PoW</span>挖矿阶段</h1>
                                            <p><b><span lang="en">发布Veles Core v0.17 “Aged Amnesia”</span></b></p>
                                            <p>在启动阶段结束，并进行主<span lang="en">PoW</span>共识升级后开始全面挖矿奖励
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">大量增加区块奖励以提供所需的代币供应量</li>
                                            <li class="checked">非线性减半间隔可缩短通胀期</li>
                                            <li class="checked">在所有算法中均衡动态奖励</li>
                                            <li class="checked">具有减半重新调度和自动动态奖励促进的自适应供给控制机制</li>
                                            <li class="checked">主节点奖励在5年内逐步从<span lang="en">5％</span>增加到<span lang="en">60％</span></li>
                                            <li class="checked">开发团队奖励在5年内从<span lang="en">5％</span>逐渐减少到<span lang="en">0％</span></li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Feb 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3><span lang="en">Veles</span>主节点安装器</h3>
                                            <p>发布<span lang="en">Veles</span>主节点安装程序以简化<span lang="en">Linux</span>系统的主节点安装过程</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked"><a href="https://github.com/AltcoinBaggins/veles-installer"><span lang="en">Veles</span></a>主节点安装程序以简化<span lang="en">Linux</span>系统的主节点安装过程</li>
                                            <li class="checked">支持多操作系统平台，包括<span lang="en">Ubuntu，Debian，Gentoo，RedHat，Fedora，CentOS</span>等</li>
                                            <li class="checked">也可以使用流行的安装脚本<a href="https://github.com/velescore/nodemaster"><span lang="en">Nodemaster</span></a>作为<span lang="en">Veles fork</span>的替代解决方案</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="event" data-date="Mar 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>图形界面版本的客户端升级</h3>
                                            <p>全面重新设计适用于所有桌面平台的图形化钱包客户端，支持轻松操作的新功能</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">为所有桌面平台完全重新设计钱包界面</li>
                                            <li class="checked">清晰指示出是使用预发布版本还是稳定版本</li>
                                            <li class="checked">支持导出和加载自定义<span lang="en">QSS</span>样式表，使设计人员无需<span lang="en">C++</span>知识即可轻松定制</li>
                                            <li class="checked">开始开发基于<span lang="en">Angular</span>的独立实验界面</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>


                                <li class="event" data-date="Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3>减少最大供应量</h3>
                                            <p>正式宣布将最大供应量从<span lang="en">12,500,000</span>减少到<span lang="en">2,500,000 VLS</span>（没有破坏社区共识）</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">根据<span lang="en">VCIP01</span>建立的挖矿共识，将<span lang="en">12,500,000VLS</span>的最大供应量减少至<span lang="en">2,500,000 VLS，</span>以匹配当前的理论最大供应量
                                            </li>
                                            <li>保持完整且具有前瞻性的供应曲线，并确保降低<span lang="en">VLS</span>的通货膨胀率</li>
                                            <li class="checked">制定计划，在下一个主要版本<span lang="en">（v0.18）</span>中减少<span lang="en">Veles</span> 主节点抵押代币，从<span lang="en">2000</span>降低到<span lang="en">500 VLS</span>以匹配新的供应限制，以及正式执行的最大供应量限制</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event" data-date="Feb - Apr 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3><span lang="en">Veles Core 升级至 v0.17.1</span></h3>
                                            <p><span lang="en">Veles Core</span>客户端和服务器的下一个稳定版本，包括所有近期更新和修复的内容</p>
                                            <p>适用于大多数主流桌面和服务器平台的新安装向导，包括<span lang="en">Raspberry PI</span>。</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked"><span lang="en">Veles Core</span>团队修复了最新测试中出现的问题</li>
                                            <li class="checked">从比特币<span lang="en">Core v0.17.1</span>移植所有更新内容</li>
                                            <li class="checked">支持<span lang="en">Travis</span>持续集成和自动化测试</li>
                                            <li class="checked"><span lang="en">Windows 32/64</span>位系统的安装向导</li>
                                            <li class="checked">为<span lang="en">Ubuntu/Debian/Linux</span>安装<span lang="en">.deb</span>软件包和<span lang="en">apt-get</span>存储库</li>
                                            <li class="checked"><span lang="en">Raspberry PI vanilla Linux</span>和<span lang="en">Raspbian .deb</span>软件包的二进制文件</li>
                                            <li class="checked">为<span lang="en">macOS</span>操作系统安装 <span lang="en">.dmg</span>文件包</li>
                                            <li class="checked">修订和更新项目文档，添加了关于主节点的文档</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h3><span lang="en">Veles Core Web</span>和基础架构</h3>
                                            <p>与<span lang="en">Veles</span> 区块链集成的新网站和区块浏览器，用来提供有关网络的实时数据</p>
                                            <p>新的高负载<span lang="en">REST API</span>和高速<span lang="en">websocket</span>服务器推送</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li class="checked">提供最新信息和全新设计的新项目网站</li>
                                            <li class="checked">重新设计的区块浏览器并与网站集成</li>
                                            <li class="checked">使用<span lang="en">websockets</span>和<span lang="en">server-push</span>提供区块链的实时数据和统计数据</li>
                                            <li class="checked">提供负载均衡的公共API的高负载后端服务</li>
                                            <li>白皮书和网站的各国语言版本</li>
                                        </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone" data-date="Q2 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">VCIP02 PoS</span>实施阶段</h1>
                                            <p><b>发布<span lang="en">Veles Core v0.18“Blockchain Baracuda”</span></b></p>
                                            <p>实现并启动<span lang="en">PoS</span>机制
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>实现并启动<span lang="en">PoS</span>共识机制，作为<span lang="en">PoW</span>的补充，从而建立更强大，更安全的网络</li>
                                            <li>激活隐私发送 / 即时发送</li>
                                            <li class="checked">将代码重新引入最新的比特币<span lang="en">Core v0.18</span>，实现几个新功能作为钱包备份实用程序，并为将来支持硬件钱包奠定基础</li>
                                            <li class="checked">新的主节点质押（从<span lang="en">2000</span>减少到<span lang="en">500 VLS</span>）转换期，以匹配最大的供应量</li>
                                            <li class="checked">进一步改善界面客户端的内部支持</li>
                                            <li>在主节点自主选择运行的内测版<span lang="en">dVPN</span>的<span lang="en">dapp</span>，以支持将来的实时测试</li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q3 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">VCIP03 dVPN</span>的整合阶段</h1>
                                            <p>更新区块链和网络，为<span lang="en">DIP0002</span>特殊事务提供满足<span lang="en">dVPN</span>服务需求的最佳环境。用于测试和开发的内测版本的<span lang="en">dVPN</span>服务
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>端口<span lang="en">DIP0002</span>特殊事务，以正确的方式开启在区块链上存储<span lang="en">VPN</span>订阅</li>
                                            <li>集成<span lang="en">DIP0003</span>的确定性主节点，可靠的链上主节点同步</li>
                                            <li>开发用于<span lang="en">dVPN</span>连接的<span lang="en">RSA</span>证书的分布式授权审核</li>
                                            <li>开始在生态系统内开发<span lang="en">DEX</span>（去中心化交易所），以实现代表VPN连接时间的代币交易，从而提供更好的价值存储，价格发现和预付费<span lang="en">VPN</span>时间的免费交易</li>
                                            <li>用于测试和客户端开发的志愿者主节点，配置<span lang="en">dVPN dapp</span></li>
                                        </div>
                                    </div>
                                </li>
                                <li class="event proposal" data-date="Q4 2019">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">dVPN</span>实施阶段</h1>
                                            <p>
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><span lang="en">Tier II</span> 主节点实现用作提供多级路由功能的出口节点</li>
                                            <li><span lang="en">IPv6</span>到<span lang="en">IPv4</span>路由层以支持<span lang="en">IPv6</span>出口节点</li>
                                            <li>区块链订阅管理</li>
                                            <li>桌面和移动版本集成<span lang="en">VPN</span>的<span lang="en">dVPN</span>客户端钱包</li>
                                            <li>使用志愿者节点做<span lang="en">dVPN</span>公开内测版本测试</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="Q1 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">dVPN</span>启动阶段</h1>
                                            <p>过渡期后，所有主节点启用<span lang="en">dVPN</span>服务</p>
                                            <p>官方网络在第一季度正式推出<span lang="en">dVPN</span>供公众使用</p>
                                            <p><span lang="en">Veles</span>生态系统中<span lang="en">DEX</span>的公共内测版本</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><span lang="en">dVPN</span>上线供公众使用</li>
                                            <li>主节点运行<span lang="en">dVPN dapp</span>必须要有转换周期</li>
                                            <li><span lang="en">IPv6</span>到<span lang="en">IPv4</span>路由层以支持<span lang="en">IPv6</span>出口节点</li>
                                            <li><span lang="en">dVPN</span>上线供公众使用</li>
                                            <li>用于购买<span lang="en">dVPN</span>连接时间的代币交易<span lang="en">DEX</span>公共<span lang="en">alpha</span>测试版</li>
                                            <li>探索<span lang="en">DEX</span>上的算力租赁代币化和交易的理念，它还可以提供有关算力市场价格的分布式数据，以供更合适的动态<span lang="en">PoW</span>奖励调整使用</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event proposal" data-date="Q2 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1><span lang="en">dVPN</span>拓展阶段</h1>
                                            <p>使用来自季度一的数据，开发<span lang="en">Proof-Of-Geolocation</span>（地理定位证明），改进<span lang="en">dVPN</span>以实现更好的扩展性
                                            </p>
                                            <p>发布<span lang="en">Veles DEX</span>公测版</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>改进和重构<span lang="en">dVPN</span>以实现更好的扩展性</li>
                                            <li>使用季度一的数据研究新的扩展可行性解决方案</li>
                                            <li>开始开发和测试地理定位证明的概念，以便在全球范围内实现更加分布式和更优质地分发<span lang="en">VLS</span>出口节点</li>
                                            <li><span lang="en">dVPN</span>上线供公众使用</li>
                                            <li>公开发布<span lang="en">Veles DEX</span>和<span lang="en">web</span>界面</li>
                                        </div>
                                    </div>
                                </li>


                                <li class="event milestone proposal" data-date="Q3 - Q4 2020">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>引导治理机制阶段</h1>
                                            <p>开发分布式的基础设施，流程和智能合约，以实现未来社区对项目的治理</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>为<span lang="en">Veles</span>生态系统维护和开发所涉及的所有决策过程开发公平且分布式的治理方式和基础设施</li>
                                        </div>
                                    </div>
                                </li>


                                <li class="event proposal" data-date="2020 - 2023">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>社区治理过渡期</h1>
                                            <p>实施并优化治理测试流程</p>
                                            <p><span lang="en">dVPN</span>网络的主要和改进，新功能，集成和理念
                                            </p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li>在<span lang="en">Veles</span>核心团队的支持下，在实现完全分布式的组织运作之前，建立时间窗口，对所有治理流程进行优化测试</li>
                                            <li>维护<span lang="en">dVPN</span>网络并实现社区用户，节点运营商和开发人员建议的新功能，理念，集成或用例</li>
                                        </div>
                                    </div>
                                </li>

                                <li class="event milestone proposal" data-date="2024 - &infin;">
                                    <div class="split-contents">
                                        <div class="split-left">
                                            <h1>社区治理的彻底移交</h1>
                                            <p>此时，网络上的所有治理和代码的开发应该完全由网络参与者，支持者和开发者社区主持的分布式组织掌握</p>
                                        </div>
                                        <div class="split-right">
                                            <ul class="content-skills">
                                            <li><span lang="en">Veles</span>核心团队的现任成员将继续帮助社区开展<span lang="en">Veles</span>生态系统开发，因为我们热衷于尽自己最大的能力不断改变世界</li>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                       </div>
            </section>

        </div><!-- /#content -->
    </div>
</body>
</html>
