<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="content-wrapper">
        <div id="content" class="Windows-page">
        <!-- Anything outside #content element
             will be ignored by the single page app. -->
        <!-- Page Heading/Breadcrumbs -->
            <div class="container">
                <h1 class="mt-4 mb-3"><span class="grey"><span lang="en">Windows</span> </span><span lang="en">dVPN</span> </span>教程</span></h1>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 text-center col-image">
                            <img class="img-download track-in-view left-slide-in" src="images/download/windows-wallet.png" alt="Windows Guide">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>安装</h2>
                            <p class="my-6">
                                可在<a href="https://openvpn.net/community-downloads/"><span lang="en">OpenVPN</span>的下载页</a>上找到适用于您<span lang="en">Windows</span>的<span lang="en">OpenVPN</span>客户端。
                                <br />
                            </p>
                            <div class="dvpn-guide-note">
                                <p><i class="fa fa-info-circle" aria-hidden="true"></i> <span lang="en">OpenVPN</span>需要管理员权限才能安装。</p>
                            </div>
                            <p class="my-6">
                                安装<span lang="en">OpenVPN</span>后，下载<a href="https://explorer.veles.network/dapi/getOpenVPNConfig"><b>配置</b></a>文件<br/>，并且将文件复制到你的配置文件夹中，例如：
                            </p>
                            <div class="code-background">
                                <ul class="code">
                                    <li><code><span lang="en">C:\Program Files\OpenVPN\config</span></code></li>
                                </ul>
                            </div>
                             <p class="my-6">
                                当您启动<span lang="en">OpenVPN</span>时，它将自动寻找配置文件并激活他。
                                <br/>
                            </p>
                            <p class="my-6">
                                <span lang="en">OpenVPN</span>每次使用时都必须以管理员身份运行，您不必每次使用<span lang="en">OpenVPN</span>时右键单击并选择<b>以管理员身份运行</b>，您可以对此进行预设，但这必须通过管理帐户进行。这也意味着标准用户需要输入管理员密码才能使用<span lang="en">OpenVPN</span>。另一方面，除非客户端上的<span lang="en">OpenVPN</span>具有管理员权限，否则标准用户无法正确连接到服务器，因此需要提升权限。
                                <br/>
                            </p>
                            <p class="my-6">
                                如果要将<span lang="en">OpenVPN</span>设置为始终以管理员身份运行，请右键单击其快捷方式图标，然后选择<b>属性</b>。在<b>兼容性</b>选项卡的底部，单击按钮为所有用户更改设置。在新窗口中，选<b>以管理员身份运行</b>。
                                <br/>
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>连接</h2>
                            <p class="my-6">
                                每次启动<span lang="en">OpenVPN GUI</span>时，<span lang="en">Windows</span>都会询问是否允许程序对计算机进行更改单击<b>是（<span lang="en">yes</span>）</b>。启动<span lang="en">OpenVPN</span>客户端应用程序后，他会隐藏在右下角托盘中，以便可以根据需要连接和断开<span lang="en">VPN</span>，事实上他不会默认进行<span lang="en">VPN</span>连接。
                                <br />
                            </p>
                            <p class="my-6">
                                进入右下角系统托盘并右键单击<span lang="en">OpenVPN</span>图标，启动连接。这将打开菜单。在菜单顶部选择<b><span lang="en">veles</span></b>（这是我们的<code><span lang="en">veles.ovpn</span></code>配置文件），然后选择<b>连接</b>。
                                </br>
                            </p>
                            <p class="my-6">
                                在建立连接时，将打开一个状态窗口，显示日志输出，并在连接客户端后显示一条消息。
                                </br>
                            </p>
                            <p class="my-6">
                                以同样的方式断开与VPN的连接：进入右下角系统托盘，右键单击<span lang="en">OpenVPN</span>小图标，选择客户端配置文件，然后单击<b>断开连接</b>。
                                </br>
                            </p>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-1 wide-screen"></div>
                        <div class="col-lg-7">
                            <h2>测试您的<span lang="en">VPN</span>连接</h2>
                            <p class="my-6">
                                一旦所有的东西都安装好了，只需要一个简单的检查就可以确认他是否运作。在未启用<span lang="en">VPN</span>连接的情况下，打开浏览器并转到 <a href="https://www.dnsleaktest.com/"><span lang="en">DNSLeakTest</span></a>。</br>
                                该站点将返回由您的网络服务提供商分配的<span lang="en">IP</span>地址，以及您在世界其他地方显示的<span lang="en">IP</span>地址。若要通过同一网站检查您的<span lang="en">DNS</span>设置，请单击<b>扩展测试（<span lang="en">Extended Test</span>）</b>，它会告诉您正在使用的<span lang="en">DNS</span>服务器。<br>
                                现在，连接到您的<span lang="en">VPN</span>客户端并刷新浏览器，应该会显示与您的<span lang="en">VPN</span>服务器的完全不同的<span lang="en">IP</span>地址。然后再次进行<b>扩展测试（<span lang="en">Extended Test</span>）</b>检查您的<span lang="en">DNS</span>设置，并确认您正在使用<span lang="en">Veles dVPN</span>推送的<span lang="en">DNS</span>解析。
                            </p>
                            
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div><!-- /#content -->
    </div>
</body>
</html>